[2018-08-29 16:28] joshmbg opened #1 "Example in documentation is incorrect"
It refers to react-native-android-p2p-wifi, when the package is actually named react-native-wifi-p2p.

When I try running the example, it doesn't work, and I don't know if this is because the example is incorrect or if there is something wrong with my test setup - the example needs to be reviewed and updated to ensure it is correct.

[2018-08-29 20:18] kirillzyusko commented on #1
@joshmbg Thanks for your remark. I really forget to rename this package in readme (already fixed it).
But these code examples are working, and I tested it in my own project. Could you provide more specific info about your environment, like device (emulator), which method is not working and so on?
BTW, I have test repository, where I created button for each method. And I tested it on real devices a

[2018-08-30 08:40] joshmbg commented on #1
Don't worry about it, I tested it on my real phone and it worked, so something's wrong with my emulator setup not with the code example.

[2018-08-30 08:40] #1 closed

[2018-08-30 08:46] kirillzyusko commented on #1
@joshmbg On any emulators you don't have access to native modules such as wi-fi/bluetooth/camera and so on. So, libraries, that provide access to native modules, should test on real devices.
In any case, thanks for your feedback. I think, that I should write info about testing in readme :)

[2018-10-26 07:18] lokixviii opened #2 "Execution failed for task ':react-native-wifi-p2p:verifyReleaseResources'."
Hi, everytime I try to build my app it always fails:

WARNING: Configuration 'compile' is obsolete and has been replaced with 'implementation' and 'api'.
It will be removed at the end of 2018. For more information see: http://d.android.com/r/tools/update-dependency-configurations.html
WARNING: The specified Android SDK Build Tools version (23.0.1) is ignored, as it is below the minimum supported v

[2018-10-26 07:34] kirillzyusko commented on #2
@lokixviii Could you try to add next lines to android/build.gradle and try to compile project again?

`
allprojects { ... }

subprojects {
    project.configurations.all {
        afterEvaluate {project ->
            if (project.hasProperty("android")) {
                android {
                    compileSdkVersion 26
                    buildToolsVersion '26.0.2'
                }

[2018-10-27 05:33] bharadwajpro opened #3 "How do peers communicate with each other?"
Connecting, Disconnecting, forming a group everything is fine. But how do peers exchange information? `sendMessage()` api is not available as of now according to `README`

How do I broadcast available services of a device to its peers? Can I atleast get an IP address so that I can communicate manually with other devices?

[2018-11-03 16:44] kirillzyusko commented on #3
@bharadwajpro Could you test last changes from `master` branch?
Just add the following line to your `package.json` and run `npm install`:

```"react-native-wifi-p2p": "github:kirikzyusko1996/react-native-wifi-p2p#master"```

[2018-11-14 10:55] bharadwajpro commented on #3
I was neither able to form a group nor connect to a device. It says `Error code 2: Operation failed because the framework is busy and unable to service the request.`. So I wasn't able to test your changes. May be there is a problem with devices I am using.

[2018-11-18 16:29] kirillzyusko commented on #3
@bharadwajpro I'll close this issue, since I tested message sending/receiving and it works fine on my devices. If you will provide more information of your problem (devices, your steps for reproducing this problem, were connected these devices to each other via `Wi-Fi direct` earlier and so on, I'll try to help you. Because `BUSY_ERROR` - it's not error of my library, it's "native" error (more inf

[2018-11-18 16:29] #3 closed

[2018-11-30 01:13] io-pan opened #4 "getAvailablePeers always returns empty array"
1st: thanks for that awesome repo.

I tested it on my galaxy S6 (android 7.0) and also on S9 (android 8.0).
I'am running the same code on both phones.
Everything works fine on S6, it detects my wifi-printer, but on S9 getAvailablePeers always returns an empty array.

Any idea  why ?

[2018-11-30 13:40] kirillzyusko commented on #4
@io-pan First of all I would like to recommend trying to detect `S6` from `S9` and `S9` from `S6` (without wifi-printer). These devices support WiFi direct mode, so you can try to enable this mode on one device, and try to find from another. And then switch role. Also I don't recommend using `getAvailablePeers`, since I added this method as temporary. Best approach for detecting devices is using s

[2018-12-16 16:07] #4 closed

[2018-12-27 07:53] sushanthNiveus opened #5 "App crashes during Get Connection Info"
Looks like there is an issue in WiFiP2PManagerModule.  Also, the getAvaibleDevices method returns an empty array. I with Mi A1 and Xiomi Poco F1.

FATAL EXCEPTION: main
Process: com.examples, PID: 11146
java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String java.net.InetAddress.getHostAddress()' on a null object reference
	at io.wifi.p2p.WiFiP2PManagerModule$1.onConnect

[2019-01-06 20:09] kirillzyusko commented on #5
@sushanthNiveus But you're right. Calling this method shouldn't break application. So I've edited seeral lines of code and published it to `npm` (`0.6.5` version). You can check it and write here, if you have any questions or this error appears again :)

[2019-01-06 20:10] #5 closed

[2019-02-04 11:11] ekxz900 opened #6 "App crashes on starting up"
Hi,

I'm getting this error on successful build. Can you please help?

Attempt to invoke virtual method 'android.net.wifi.p2p.WifiP2pManager$Channel android.net.wifi.p2p.WifiP2pManager.initialize(android.content.Context, android.os.Looper, android.net.wifi.p2p.WifiP2pManager$ChannelListener)' on a null object reference
init
    WiFiP2PManagerModule.java:81
invoke
    Method.java
invoke
    JavaMet

[2019-02-04 11:20] kirillzyusko commented on #6
@ekxz900 Hi, are you sure that you use **real** device (not emulator) with p2p support?

[2019-02-04 11:51] ekxz900 commented on #6
Hi @kirillzyusko, ahhh my mistake so sorry..

[2019-02-04 11:51] #6 closed

[2019-04-08 18:20] Avantica777 commented on #2
Thanks for posting about this issue.
@kirillzyusko, I've the same issue and I tried like above, but it's not working on my side.

`
allprojects {
    repositories {
        mavenLocal()
        google()
        jcenter()
        maven {
            // All of React Native (JS, Obj-C sources, Android binaries) is installed from npm
            url "$rootDir/../node_modules/react-native/android"

[2019-04-09 08:13] kirillzyusko commented on #2
@Avantica777 you can look at working example project: https://github.com/kirillzyusko/react-native-wifi-p2p-example
I suppose you need to synchronize gradle version between your project and my. It's common error that you may face with any library. So I'd recommend you just search this problem, and I suppose you find cause and will be able to fix it.

[2019-06-04 12:41] SMKH-PRO opened #7 "Task :react-native-wifi-p2p:compileDebugJavaWithJavac FAILED"
Getting this error:-
I rechecked linking everything is same as defined in documentation.

Note:-
I have changed the library's gradle version to 3.3.1. and sdks to 28

[code]

i tried adding `android.enableSeparateAnnotationProcessing=true`  but it generates another error

React-Native Versions:
[code]

[2019-06-04 17:36] kirillzyusko commented on #7
@SMKH-PRO Hi, have you tried to add next lines to your `android/build.gradle` file?
[code]

[2019-06-06 16:37] SMKH-PRO commented on #7
TRIED, Same error stil presist

[2019-06-06 17:16] kirillzyusko commented on #7
@SMKH-PRO Could you install this library directly from githib and try to build your project?
I've changed `build.gradle` file and pushed these changes recently. I think it will help you.

[2019-06-06 17:56] kirillzyusko commented on #7
@SMKH-PRO I updated npm-repo (new version is 0.6.6). Now you can intall from there. Also I update repo with examples - you can check it out (https://github.com/kirillzyusko/react-native-wifi-p2p-example). It might be helpful, if you have any questions (now there is also `sdk 28`).

[2019-06-16 10:04] kirillzyusko commented on #7
@SMKH-PRO Have you resolved your issue? Can I close this topic?

[2019-06-21 20:09] #7 closed

[2019-06-23 07:10] rolandjitsu commented on #4
@kirillzyusko I am having the same problem ... Subscriptions also give me an empty list of devices. Running on an Google Pixel 3, latest Android.

[2019-06-23 07:42] kirillzyusko commented on #4
@rolandjitsu What is the second device, which you are trying to find? Are you sure, that WiFi direct mode is enabled on both devices?

[2019-06-23 07:46] rolandjitsu commented on #4
The second device is a Raspberry Pi 3 configured using [wpa_supplicant](https://raspberrypi.stackexchange.com/a/84535). Using Android's Wifi Direct search (it's in the phone's settings) I can see the device.

This libs is discovering but it doesn't show me the devices.

[2019-06-23 07:55] kirillzyusko commented on #4
@rolandjitsu I got it. You know I have faced with the same problem. When I have been testing my library, I've found, that I could detect my new phone from my old, but not vice versa. And from Android settings I was able to see, and there everything worked as expected. To be honest I don't know why it happened. And also I don't know even reason. Maybe I did a mistake in my code. But I don't so thin

[2019-06-23 08:03] rolandjitsu commented on #4
No worries. I might not be able to use WiFi Direct for what I'm trying to do anyway. But thanks for trying to help.

[2019-06-30 08:02] gunaangs opened #8 "TypeError: TypeError: undefined is not an object (evaluating 'WiFiP2PManager.init')"
TypeError: TypeError: undefined is not an object (evaluating 'WiFiP2PManager.init')

This error is located at:
    in Share (created by SceneView)
    in SceneView (at StackViewLayout.js:784)
    in RCTView (at View.js:44)
    in RCTView (at View.js:44)
    in RCTView (at View.js:44)
    in AnimatedComponent (at StackViewCard.js:69)
    in RCTView (at View.js:44)
    in AnimatedComponent (at scree

[2019-06-30 09:20] kirillzyusko commented on #8
Hi @gunaangs
If you are running my code examples it means that there should not be any errors with library linking (do I correct understand, that you try to run https://github.com/kirillzyusko/react-native-wifi-p2p-example or you copied pieces of code which were given in README.MD from this repository?).
So first of all I'd like to ask you - are you sure that your device support p2p-mode?
You can

[2019-06-30 09:39] gunaangs commented on #8
Hi @kirillzyusko

I have copied the example program and make it use in my app. Just copied App.js and try to run I got this error

[2019-06-30 09:59] kirillzyusko commented on #8
@gunaangs I got it. I can suppose you were not linking library (follow this guide https://github.com/kirillzyusko/react-native-wifi-p2p/blob/master/README.MD#link-library). Am I right?
In any case you can try to run my example (just clone repository and run it locally). It should work.
And yes, you are right - S7 should support this feature.
I think you have troubles with linking this library.

[2019-06-30 15:34] gunaangs commented on #8
@kirillzyusko I understood. Actually I am using Expo client to run my application. In that there is no android/settings.gradle file to link those libraries.

Could you help me to solve this issue?

[2019-06-30 15:38] gunaangs commented on #8
![Capture](https://user-images.githubusercontent.com/31016726/60398900-1f4e0400-9b7b-11e9-8580-be4e841bb29a.PNG)

This is my folder structure

[2019-06-30 19:23] kirillzyusko commented on #8
@gunaangs here is good explanation: https://stackoverflow.com/questions/44977693/react-native-link-using-expo
Let me know if your issue has been resolved.

[2019-06-30 19:29] kirillzyusko commented on #8
@gunaangs here is explanation from official Expo docs: https://docs.expo.io/versions/v28.0.0/expokit/detach/#you-might-want-to-detach-if
I think you have to detach your project if you want to use this library.
If you have any other questions, please write me here. I will try to solve them :)

[2019-07-08 07:36] kirillzyusko commented on #8
@gunaangs Can I close the issue?

[2019-07-09 15:51] #8 closed

[2019-09-16 18:11] qalqi opened #9 "Require Group Passphrase"
Hi,
This is a great library. Once a group is created, we need passphrase from it.

Currently, only way to get it is manually and not programmatically from i.e Settings -> WIFI Direct -> Passphrase

Here is a snippet shared by android developer https://developer.android.com/training/connect-devices-wirelessly/wifi-direct#java
[code]

[2019-09-16 18:57] kirillzyusko commented on #9
Hi, @qalqi
Yes, you are absolutely right
I will implement this method as soon as possible
Do I correct understand, that you need a method in JS, which will return `groupPassword` from code snippet?

[2019-09-16 18:58] qalqi commented on #9
Raising PR. Please review it.

[2019-09-16 19:10] kirillzyusko commented on #9
@qalqi May I ask you why do we need to wait ~3 s in order to call to another function?

[2019-09-16 19:18] qalqi commented on #9
creategroup.then resulting in null password. If called after a second or so after creating a group, I am receiving group passphrase.

[2019-09-16 20:01] kirillzyusko commented on #9
It's a little bit strange
But I think we can move forward even with this

[2019-09-16 20:01] #9 closed

[2019-09-16 20:17] turingpavan commented on #9
Tx

[2019-09-16 20:18] qalqi commented on #9
Tx

[2019-09-16 20:19] kirillzyusko commented on #9
@qalqi I published new version (0.6.7) with your changes :)

[2019-09-17 19:25] qalqi opened #11 "Question: How to work with react-native-multipeer?"
Can you please illustrate how do we communicate with iOS devices with `react-native-multipeer` and Android devices with `react-native-wifi-p2p`?

[2019-09-17 20:06] kirillzyusko commented on #11
@qalqi Do I correct understand, that you want to connect Android device with iOS using p2p connection?

[2019-09-17 20:08] qalqi commented on #11
Yep

[2019-09-17 20:11] kirillzyusko commented on #11
I'm afraid you can't... Because mutipeer connectivity cannot connect iOS and Android devices. It's not a react-native restriction - it's a platform restriction (since they are used different approach in realisation) :(
You need to write your own implementation I think

[2019-09-17 20:14] qalqi commented on #11
I was able to connect a Windows sdevice, a macbook device and a iOS device to WIFI direct group created by `createGroup`
Only thing I need now, at least in iOS device to be able to send a message

[2019-09-17 21:24] kirillzyusko commented on #11
Hm, have you tried to call `send` function from `react-native-multipeer`?
Or call `sendMessage` on Android side in order to send some data to iOS devices?

[2019-09-18 15:38] qalqi commented on #11
iOS to iOS, peer advertising and connecting is working fine.
Create a WIFI Direct group from one Android device and able to connect to it with WIFI Direct group passphrase then create a Multipeer iOS to iOS connection.

Now, Android to iOS is something I haven't been able to figure out.

[2019-09-18 15:48] kirillzyusko commented on #11
I think, I can't help you with this issue, unfortunately.
If you find a solution, please, write it here

[2019-09-19 07:28] kirillzyusko commented on #11
@qalqi And also you can have a look on https://developers.google.com/nearby/

[2019-09-26 12:42] kirillzyusko commented on #11
@qalqi I close this issue. If you find something interesting, please leave your comment here. Thank you in advance.

[2019-09-26 12:42] #11 closed

[2019-10-26 08:23] jupardo opened #12 "Make library compatible with react-native 0.6X"
When react-native jumped to the newest major version, the library doesn't work.

[2019-10-26 21:26] kirillzyusko commented on #12
@jupardo Thank you for the issue. I've published `1.0.0` version. Could you test with this version, and give me a feedback, please?

[2019-11-01 17:13] anthonyhungnguyen opened #13 "startDiscoveringPeers returns undefined"
![image](https://user-images.githubusercontent.com/42292807/68042392-5d179080-fd05-11e9-8ded-87db7bc8f823.png)

I tried to follow all steps, but seems like I cannot get any peers around because of undefined return when discovering peers. Any help ?

[2019-11-01 17:30] kirillzyusko commented on #13
@anthonyhungnguyen Thank you for the issue.
It is ok, that you can see undefined status :)
Could you please answer on several questions?
- What is the version of library and RN do you use?
- What is the order of calling API methods of this library?
- Do you see others devices with P2P mode on your device from Settings?
- Do you run it on real device?

[2019-11-02 02:17] anthonyhungnguyen commented on #13
Oh, okay:
1.
![image](https://user-images.githubusercontent.com/42292807/68064446-329df580-fd4e-11e9-8a0e-4b579ee0969f.png)
2.
![image](https://user-images.githubusercontent.com/42292807/68064452-48abb600-fd4e-11e9-97d8-275c8da1c4a9.png)
3. From setting, using wifi direct, I can see others devices.
![73107753_2519405171661788_2077288360371552256_n](https://user-images.githubusercontent.com/4229280

[2019-11-02 02:54] anthonyhungnguyen commented on #13
![image](https://user-images.githubusercontent.com/42292807/68065075-7694f880-fd56-11e9-9192-88e932ceed5a.png)
![image](https://user-images.githubusercontent.com/42292807/68065077-7d237000-fd56-11e9-804c-c0b5af0b0fc9.png)
I don't know why getting no peers even 2 devices on the same wifi
I ran 2 different server on two ports: 5000 and 5050 using `react-native start --port <port_number>`
Please help

[2019-11-02 11:26] kirillzyusko commented on #13
@anthonyhungnguyen Can you try just enable p2p mode on one of your device (on android 4.4.2) and run your React Native application on the second (android 8.0)
And start discovering from 8.0 in RN application?
If it doesn't work, you can try change roles of them. I mean just enable wifi p2p mode on 8.0 and start discovering from 4.x.x
Also as an option you can try to create a group on one of device

[2019-11-02 11:27] kirillzyusko commented on #12
Now it works with RN 0.60

[2019-11-02 11:27] #12 closed

[2019-11-06 08:00] tmxkwkfgka opened #14 "I had same problem also"
when I searched available device from galaxy s7 (android version 8.0). It returned empty array. but when I searched available device from galaxy note4 (andorid version 6.0.1). It returned available device. I should make it work on android 8.0. Do you know why It is not work on specific version and can you fix it?

Thank you.

[2019-11-06 08:00] #14 closed

[2019-11-06 08:01] tmxkwkfgka commented on #13
I'm having same problem also.

when I searched available device from galaxy s7 (android version 8.0). It returned empty array. but when I searched available device from galaxy note4 (andorid version 6.0.1). It returned available device. I should make it work on android 8.0. Do you know why It is not work on specific version and can you fix it?

Thank you.

[2019-11-06 08:12] tmxkwkfgka commented on #13
`11-06 14:14:20.440: D/WifiHandler.WifiP2pService(3663): Received message=139412d sendingUid=10389
11-06 14:14:20.440: D/WifiHandler.WifiP2pService(3663): Received message=139265d sendingUid=10389
11-06 14:14:20.441: D/WifiP2pService(3663): InactiveState{ when=-1ms what=139412 obj=Bundle[mParcelledData.dataSize=204] target=com.android.internal.util.StateMachine$SmHandler }
11-06 14:14:20.442: D/Wi

[2019-11-06 09:07] kirillzyusko commented on #13
@tmxkwkfgka hi! Could you please try to ask `ACCESS_COARSE_LOCATION` permission dynamically (on runtime) on Android 8 before wi-fi usage?
Similar issue: https://stackoverflow.com/questions/50475371/android-wifi-direct-p2p-not-able-to-find-peers-on-android-8
And as I understand it's Android version specific problem. Not a bug of this library.
Could you please try to ask permissions, or try anything

[2019-11-06 10:52] tmxkwkfgka commented on #13
Thank you. It works.
I modiried WiFiP2PManagerModule.java
`@ReactMethod
    public void getAvailablePeersList(final Promise promise) {
        Activity activity = getCurrentActivity();

        if(Build.VERSION.SDK_INT >= Build.VERSION_CODES.M && ContextCompat.checkSelfPermission(this.reactContext, Manifest.permission.ACCESS_COARSE_LOCATION) != PackageManager.PERMISSION_GRANTED){
            Activ

[2019-11-06 11:00] kirillzyusko commented on #13
@tmxkwkfgka Wow! Thank you for the response!
Unfortunattely I haven't found `PERMISSIONS_REQUEST_CODE_ACCESS_COARSE_LOCATION` permission in Android from `react-native`.
I will release new version as soon as possible and there I will add new method to API for checking this permission.

[2019-11-07 11:21] anthonyhungnguyen commented on #13
I figure it out, follow @tmxkwkfgka and google on [https://www.javatips.net/api/Lamp-master/app/src/main/java/com/lamps/lamps/activity/WifiConnectActivity.java](url)

This is my WiFiP2PManagerModule.java
Adding more imports:

`import android.os.Build;
import android.Manifest;
import androidx.core.content.ContextCompat;
import androidx.core.app.ActivityCompat;`

`@ReactMethod
    public void getAva

[2019-11-07 12:20] kirillzyusko commented on #13
@anthonyhungnguyen Yes, sure
But look at if-else statement.
Do I correct understand, that if you call this method first time without permisiions granting, then we just will ask about permissions, but after granting we will not call `requestPeers` in else statement?
I think it is incorrect, since you need first time call this method and after granting permissions also call it second time?
Am I righ

[2019-11-07 12:54] kirillzyusko commented on #13
@anthonyhungnguyen I've just published new version without Java-code modification.
Could you give a shot and try to use new JS version of `onStartInvestigate ` method from examples in documentation?
You can find it here: https://github.com/kirillzyusko/react-native-wifi-p2p#example-of-usage
And let me know, if your problem was resolved. Also, please, delete your old version of an application (in t

[2019-11-07 15:13] anthonyhungnguyen commented on #13
I have tried, it works perfectly, thanks alot
But when I test it with sendMessage, I got this warning

![image](https://user-images.githubusercontent.com/42292807/68400934-75772780-01ab-11ea-80df-98e471054849.png)
The image above is the device I use to sendMessage('hello'), but when I switch to my samsung tablet console, nothing receive.
![image](https://user-images.githubusercontent.com/42292807/

[2019-11-07 17:30] kirillzyusko commented on #13
@anthonyhungnguyen Did you complete the following steps?

https://github.com/kirillzyusko/react-native-wifi-p2p#sendmessagemessage

[2019-11-07 17:31] #13 closed

[2020-02-21 13:54] vamsig7 opened #15 "send Message is not working"
when i tried to use send message
I am gettting error "Attemp to invoke virtual method ' java.lang.String java.net.InetAdress.getHostAdress()' on anull object reference

[2020-02-21 14:24] kirillzyusko commented on #15
Hi
It seems, like here is an Exception:
[code]
I think `groupOwnerAddress==null`
Did you follow these steps: https://github.com/kirillzyusko/react-native-wifi-p2p#sendmessagemessage ?

[2020-02-21 14:49] vamsig7 commented on #15
Thanx for immediate reply
I am pasting my results step wise
1.)log of create Group on server side  Group created successfully!
2.)I connceted to that Group(same name as in Wifi Direct)
3.) got the getCOnnectionInfo at the client  end {isGroupOwner:false,groupFOrmed:true:groupaddress {{}}}
that group address column has an ip adress some thinng like 192.xxx.xxx
4.when use sendMessage after all this

[2020-02-21 14:57] kirillzyusko commented on #15
After calling `getConnectionInfo` - do you see `hostAddress` field?

[2020-02-21 15:23] vamsig7 commented on #15
{"groupFormed": false, "groupOwnerAddress": null, "isGroupOwner": false}
ouput on server side .
{isGroupOwner: false, groupFormed: true, groupOwnerAddress: {…}}
isGroupOwner: false
groupFormed: true
groupOwnerAddress: {isLoopbackAddress: false, hostAddress: "192.168.49.1"}
on receiver side

[2020-02-21 15:27] kirillzyusko commented on #15
Could you please try to send a message from receiver side?

[2020-02-21 15:31] vamsig7 commented on #15
I tried to log values with some delay on server side
{"groupFormed": true, "groupOwnerAddress": {"hostAddress": "192.168.49.1", "isLoopbackAddress": false}, "isGroupOwner": true}
but same result  ntng changed

[2020-02-21 15:37] kirillzyusko commented on #15
Have you tried to send a message from server to client?
I see, that `hostAddress` is not null on server side => you shouldn't see error, that you described above.
Do you still see it, even with sending a message from server to client?

[2020-02-21 15:40] vamsig7 commented on #15
Yes I got the same error on the receiver side  i.e server to client

[2020-02-21 15:49] kirillzyusko commented on #15
It's weird!
What can I suggest - try tomodify native Java code (merely add `System.out.println`) and via `adb logcat` see, how varibles are changing.
I assume, there might be some kind of race condition... However, on my devices everything worked fine. I coud send messages/files.
I think I can not help you directly, since I don't have an access to your devices.
Just look at these lines:
1 - https:

[2020-02-21 15:55] vamsig7 commented on #15
ok fine Will try to work aroung with Java and update here if it works

[2020-03-20 18:44] kirillzyusko commented on #15
@vamsig7 any updates? :)

[2020-04-05 15:23] #15 closed

[2020-04-05 15:24] kirillzyusko commented on #15
Closed due to inactivity.

[2020-04-14 05:13] NoamDev opened #16 "Why is getConnectionInfo() marked temporary?"

[2020-04-14 07:19] kirillzyusko commented on #16
Hi, @NoamDev
Well, it's good question :)
If you look at implementation of this method (https://github.com/kirillzyusko/react-native-wifi-p2p/blob/master/android/src/main/java/io/wifi/p2p/WiFiP2PManagerModule.java#L61) you can see this function has side effect (saving new info into local `wifiP2pInfo` variable).
And this method is only used in sendMessage/sendFile flow. And in future I would like t

[2020-04-14 09:11] NoamDev commented on #16
Hi, thanks for quick reply.
May I ask what's bad with "saving new info into local wifiP2pInfo variable"?
Be aware that I, for example, do not intend to use the sendMessage
function. I plan to use basic internet protocols (in that case for webrtc).

[2020-04-14 15:00] kirillzyusko commented on #16
The lifecycle method is not an evil 😅
I was just curios why did I need to use this method in the sending messages/files flow. Why did I need to update a variable? As far as I remember I didn't see anything in official docs - that's why I marked this method as `temporary`.
I think I should remove this label :)

[2020-04-15 17:45] NoamDev commented on #16
Oh, I didn't notice that this is a totally useless line of code😂

Yeah, you should probably get rid of it..

P.s. I'm just curious, what docs are talking about?

[2020-04-16 18:46] #16 closed

[2020-04-16 18:53] NoamDev opened #17 "startDiscoveringPeers() always rejects with code 0 (ERROR)"
Yes, I request the ACCESS_FINE_LOCATION permission.
What else could cause that?
thanks.

[2020-04-16 18:57] kirillzyusko commented on #17
Hi, @NoamDev
It might be helpful: https://github.com/kirillzyusko/react-native-wifi-p2p/issues/13
After calling `startDiscoveringPeers()` you always get and error in `catch`?

[2020-04-16 19:05] NoamDev commented on #17
Yes, it always results with a catch.
Thats my code:
[code]
dependecies:
[code]

[2020-04-16 19:09] kirillzyusko commented on #17
Does your wifi turned on?
And phone supports p2p mode?

[2020-04-16 19:18] kirillzyusko commented on #17
Also did you try to run on different device?
I can't say anythin about your case, since you receive general error. You can read about this: https://developer.android.com/reference/android/net/wifi/p2p/WifiP2pManager#ERROR
I think it's not an issue of the library.

[2020-04-16 19:29] NoamDev commented on #17
it worked on another device, thank you!

[2020-04-16 19:35] NoamDev commented on #17
OH! It turned out that on new android versions the location should be on too!
Now it works on the pixel as well.

[2020-04-16 19:35] #17 closed

[2020-04-16 19:36] NoamDev commented on #17
Thank for your time, you've got my star:)

[2020-04-16 19:40] kirillzyusko commented on #17
Nice to know :)
Maybe should we change README file? In order to avoid duplicate issues in future?
Could you provide your working code, please?

[2020-04-17 06:55] NoamDev commented on #17
The only things I've changed is:

1. "COARSE_LOCATION"  permission --> "FINE_LOCATION" permission (since android Q, but it'll work for prevoius versions too.)

2. both wifi and location should be enabled, but that has nothing to do with my code (although I'll probably use something like [react-native-android-location-enabler](https://github.com/Richou/react-native-android-location-enabler)). this

[2020-04-21 09:42] DarkDracoon opened #18 "Group creation is not defined on real-time"
Device A:
- Device: Android
- OS: API 29 (Q)

Device B:
- Device: Android
- OS: API 28 (P)

Using the master version of react-native-wifi-p2p or the project itself for demonstration of the library API, I'm not able to represent a group creation in real-time on the opposite device under these two devices, by getting the available devices, even though it is available on connection info. Is this a kn

[2020-04-21 16:33] kirillzyusko commented on #18
Hi @DarkDracoon
Are you able to get available peers/discover them?

[2020-04-21 19:44] NoamDev opened #19 "a proposal: use firebase testlab"
What do you think about inserting some CI to your development?
You can first test using mocks, but then you can test using real devices with firebase testing lab.
It won't help you to connect to actual devices probably, but you _can_ check things like initializing discover peers. This way, you'd be able to generally test on new devices and android versions you do not possess.
it would have prevent

[2020-04-21 20:01] kirillzyusko commented on #19
Hi @NoamDev
It sounds like an awesome idea😎
Unfortunately, right now I don't have enough time for implementing this CI pipeline😒
But you can shoot a MR - it's highly appreciate ☺️

[2020-04-22 07:11] NoamDev commented on #19
Pardon? MR?

[2020-04-22 07:24] kirillzyusko commented on #19
Ah, sorry.
In different VCS systems it's called different. So, in GitLab it's MR (merge request), in GitHub it's called PR (pull request). When I wrote MR I meant PR :)

[2020-04-23 13:54] DarkDracoon commented on #18
Yes @kirillzyusko, although the "isGroupOwner" has a really large delay on showing as a group owner.

[2020-04-24 14:55] kirillzyusko commented on #18
@DarkDracoon Did you request COARSE_LOCATION and FINE_LOCATION permissions?
Also you need turn on GPS/Location service: https://stackoverflow.com/questions/50475371/android-wifi-direct-p2p-not-able-to-find-peers-on-android-8/53149375#53149375

[2020-04-26 14:09] DarkDracoon commented on #18
Yes @kirillzyusko , I did turn on Location and requested the specific permissions. I may debug that tomorrow.

[2020-04-26 17:12] kirillzyusko commented on #18
@DarkDracoon I'm looking forward to your results😎

[2020-04-29 17:47] NoamDev opened #20 "disconnect implementation doesn't match the name 'disconnect'"
currently the implementation is:
[code]

However, according to [its docs](https://developer.android.com/reference/android/net/wifi/p2p/WifiP2pManager#cancelConnect(android.net.wifi.p2p.WifiP2pManager.Channel,%20android.net.wifi.p2p.WifiP2pManager.ActionListener)) cancelConnect - 'Cancel any ongoing p2p group negotiation'.

disconnect should be like in this [stackoverflow answer](https://stackoverf

[2020-04-29 17:49] NoamDev commented on #20
I don't what is wrong, the name 'disconnect' or the implementation.
@kirillzyusko, What was your purpose?

[2020-04-29 18:08] kirillzyusko commented on #20
Hi, @NoamDev
When I worked on implementation of this library, I merely wanted to recreate all basics methods (yes, sometimes methods names are different :smile:)

About `disconnect` implementation from StackOverflow - you can re-create this code snippet using JS code:

[code]

It was a goal of this library: don't try to cover all possible cases. Just write basics methods and if needed - combine th

[2020-04-29 18:58] NoamDev commented on #20
Yeah, I guess that what enabled to create a great library with only two collaborators:)
In that case, I suggest you to rename the method, it is really misleading..

[2020-04-29 18:58] NoamDev commented on #20
Yes, I know, it's a breaking change so you'd have to publish a new version...

[2020-04-29 19:23] kirillzyusko commented on #20
Yes, I agree with you
I definetly have to do it
Thank you for pointing it out :)

[2020-04-29 19:23] #20 closed

[2020-04-29 19:52] kirillzyusko commented on #20
@NoamDev Done!😎 I published new version as `2.0.0`. So, you can update to the newest and use `cancelConnect`.

[2020-04-29 20:13] kirillzyusko commented on #19
@NoamDev I hope I see PR soon from you😄
In any case, in a couple of months I’ll try to add support myself - now I can’t, because I’m very busy😞
Thank you for the suggestion😎

[2020-04-29 20:13] #19 closed

[2020-04-30 09:48] NoamDev opened #21 "[feature request] requestGroupInfo equivalent"
Currently, there's a function called getGroupPassphraseInfo, but it'll only give you the passphrase.
I need to check who are the other peers in my group.
I need the groupOwner's and clients' macAddresses.

I believe the best way to achieve this, is to create additional method requestGroupInfo:
[code]

and an appropriate js method:
`const getGroupInfo = () => WiFiP2PManager.getGroupInfo();`

Maybe

[2020-04-30 09:48] NoamDev commented on #21
If you prefer that, I can send a PR:)

[2020-04-30 09:54] NoamDev commented on #21
Oh, I'm sorry, It's not that simple.
I should also create a mapping method.
would you like me to send a PR?

[2020-04-30 10:05] kirillzyusko commented on #21
@NoamDev Yes, you are right, it's not so simple and you also need to create a mapper :)
That would be really nice, if you can create a MR and also test your changes 😎

[2020-04-30 10:20] kirillzyusko commented on #21
@NoamDev Also, have you thought about implementation `GroupInfoListener` in `WiFiP2PBroadcastReceiver`?
If peers in group change, will you receive an action/intent in `onReceive`?
If yes, I would suggest you implement new listener, and emit JS events, if info about peers in group has changed.
What do you think about it?
Because, as I could understand, if you implement `getGroupInfo` - you will cal

[2020-04-30 10:38] kirillzyusko commented on #21
@NoamDev I think, implementation should be similar to https://stackoverflow.com/a/25714357/9272042

[2020-04-30 18:15] NoamDev commented on #21
I can't find an action that will be triggered whenever a new client joins..
Maybe, maybe, connection changed but the documentation does not imply such thing.

[2020-04-30 20:47] kirillzyusko commented on #21
@NoamDev that's weird
I think `onReceive` should be triggered
Can you please check it? Just log `action` variable? Using System.out.println or Log.i?

[2020-04-30 21:09] NoamDev commented on #21
I'd

[2020-05-01 08:39] NoamDev commented on #21
Ah! You seem to be right!
WifiP2p is one of the least documented APIs...
Anyway, according to this answer: https://stackoverflow.com/a/44119574/8214617
There's an extra for group info which comes with connection_changed action. however, it is only since api level 18.
Do you think it implies the action will be triggered even before api level 18?
Obviously, we wouldn't want to limit the library to a

[2020-05-01 08:52] kirillzyusko commented on #21
@NoamDev It seems to be thruth - `EXTRA_WIFI_P2P_GROUP` is only available since API >= 18.
And definetly, I wouldn't like to restict usage of library only because of one method.
I would suggest implement additional logic for mapping new info in `WIFI_P2P_CONNECTION_CHANGED_ACTION ` handler.

And for old API (<= 17) create direct method `getGroupInfo`, and mark it in README smth like "according to

[2020-05-02 13:08] kirillzyusko commented on #18
@DarkDracoon Hi, any updates?

[2020-05-05 07:57] NoamDev commented on #21
It ain't depreacted or something, I don't see a reason to document that way. Maybe more like, in api>=18, you can also get it through subscribeOnConnectionChanged.

What;s exactly the case, after `createGroup`+`connect `/ `connect ` to a device/ `connect` to a group with already 2 clients. Also, I don't have a pre api 18 phone, and with api 18 it is pretty obvious WIFI_P2P_CONNECTION_CHANGED_ACTIO

[2020-05-05 08:47] kirillzyusko commented on #21
Cool, then I'm awaiting PR from you :blush:

[2020-05-06 09:26] NoamDev commented on #19
Just to note, it turns out firebase testing lab does not support wifi
direct, so such idea, would have to be implemented using another provider.

On Wed, Apr 29, 2020, 23:14 Kirill Zyusko <notifications@github.com> wrote:

[2020-05-06 09:28] kirillzyusko commented on #19
Do you know any free providers, which give an access to wi-fi?

[2020-05-06 10:36] kirillzyusko commented on #18
Closed due to inactivity.

[2020-05-06 10:36] #18 closed

[2020-05-08 12:13] NoamDev commented on #19
A quick google search suggested [kobiton](https://kobiton.com/).
Free plan includes 120 min/month and 50 devices.
And yes, they support wifi.
Worth a try I believe, but I too, don't have time for this currently.

[2020-05-08 12:31] kirillzyusko commented on #19
@NoamDev Got it. Thank you for research.
Maybe after 1-2months I can try to integrate it :)
In any case - thank you for your time and idea! 😎

[2020-05-14 18:50] kirillzyusko commented on #21
@NoamDev any updates? :)

[2020-05-14 19:17] NoamDev commented on #21
I'm sorry, I don't think I'm gonna send one.
As you probably know, people get to know open source projects when developing a project of their own. However , I've lost interest in that project and so, I don't think I'm gonna see react native anytime soon.

I Hope I did help a bit, and that you or someone else will continue making this tiny yet wonderful library.
Sorry, I won't be able to join and g

[2020-05-14 19:20] #21 closed

[2020-05-28 14:35] erdeepsangani opened #22 "Sendfile is not working"
Sendfile is not working it log error

[2020-05-28 14:37] kirillzyusko commented on #22
Hi @erdeepsangani
What is the error?

[2020-05-28 14:42] erdeepsangani commented on #22
Sir in device  array secondary device is null

[2020-05-28 15:10] kirillzyusko commented on #22
In which array?
Could you attach log from JS + native logs?

[2020-05-29 07:24] erdeepsangani commented on #22
sir what is a syntex of uri to send a file from internal storage
 for android device

[2020-05-29 07:25] erdeepsangani commented on #22
sir when i send file function called this error in occers:-
  Error while file sending {"code": "soon will be", "message": "Unknown error."}

[2020-05-29 08:15] kirillzyusko commented on #22
@erdeepsangani could you capture `adb logcat` logs?

These URL's were working :)

[code]

[2020-05-30 03:18] erdeepsangani commented on #22
I am using react-native-wifi-p2p in one of my project. as seen in logs and Wifi Direct network I am able to find Discover Devices and connect one of them. But when I try to send the message or file In Log Shows the Error "Error while message sending {"code": "soon will be", "message": "Unknown error."}"
I am using the same code given in repo for testing. So please help me to resolve it.

Log of co

[2020-05-30 03:19] erdeepsangani commented on #22
sir what should i do??????????????

[2020-05-30 07:11] erdeepsangani commented on #22
please sir answer me

[2020-05-30 10:00] kirillzyusko commented on #22
I am asking about native/java logs. Not logs from JS. Internally in library happens unhandled exception. And I can not send it to JS, since it's unexpected. That's why I am asking about Java logs captured via `adb logcat`.

[2020-06-03 07:55] erdeepsangani commented on #22
Sir I am able to send only jpg file. When I am trying to send mp4 file.. It receive to receiver phone but this file is currupted and it's extension is. Jpg.....
Sir what am I do now??

[2020-06-03 08:53] kirillzyusko commented on #22
It seems to be truth...
I hardcoded extension and filename on receiver side.
As an option I can suggest you next combination:
- sendMessage with correct filename
- sendFile
- on receiver side using react-native-fs rename it to correct filename
Yes, it sounds like a hack and I definitely need to fix this issue in my library. But I can not say how soon it happens...

[2020-06-03 10:57] erdeepsangani commented on #22
Sir please inform me when ever you solve the issue.. Please sir... My mail ID is. Drsangani1210@gmail.com please sir..

[2020-06-03 11:06] kirillzyusko commented on #22
I would say that optimistic term is July.
But I will try to keep you informed.

[2020-06-03 15:14] hajermay opened #23 "subscribeOnPeersUpdates doesn't fire at all it doesn't show me the connected devices"

[2020-06-03 15:32] kirillzyusko commented on #23
It might be useful: https://github.com/kirillzyusko/react-native-wifi-p2p/issues/4

[2020-06-03 15:39] hajermay commented on #23
@kirillzyusko  i tried solutions mentioned on #4 baut my problem that the function doesn't fire any more if i write only a console.log

[2020-06-03 15:43] kirillzyusko commented on #23
What devices do you use?

[2020-06-03 15:55] hajermay commented on #23
huawei y7 android 8.1.0 et  galaxy A40 android 10

[2020-06-03 18:20] kirillzyusko commented on #23
Did you follow these caveats?
https://github.com/kirillzyusko/react-native-wifi-p2p/blob/master/README.MD#caveats

[2020-06-04 15:45] hajermay commented on #23
@kirillzyusko  thanks a lot it ok now with this caveats ;)

[2020-06-04 16:04] kirillzyusko commented on #23
You are welcome :)

[2020-06-04 16:04] #23 closed

[2020-06-16 08:09] mrsasuu opened #24 "Peer to peer audio streaming [Question]"
Is it possible to stablish a connection 1/N and instead of sending a local file use an audio stream just as a2dp would do over Bluetooth?

Thank you so much!

[2020-06-16 08:19] kirillzyusko commented on #24
Hi @mrsasuu
Thank you for your question.
I think [here](https://stackoverflow.com/questions/24549884/wifi-direct-streaming-video-from-one-device-to-other) is a good answer :)

[2020-06-20 16:28] fncallback commented on #22
@kirillzyusko @erdeepsangani  I'm using this library and it is working perfectly fine. I was able to share any file across the devices.

[2020-06-20 17:10] kirillzyusko commented on #22
@fncallback Hi. Nice to know :)
How did you solve the problem with file name and file extension? As far as I remember I hard coded it. So any received file has `.jpg` as exension and the same file name (or timestamp - I don't remember exactly how I implemented it).

[2020-06-21 05:14] fncallback commented on #22
@kirillzyusko yes made change in code to send file with any extension

[2020-06-21 09:39] kirillzyusko commented on #22
@fncallback Nice😎
PRs are highly appreciate😉☺️

[2020-06-22 14:58] erdeepsangani commented on #22
@fncallback  sir can you write how you make it happen

[2020-06-29 17:21] Suman199201 opened #25 "Devices is not showing in android 9"
The nearby devices list is showing in android 7 and the lower version phone, but not showing in android 9 . Can you please help me on that

[2020-06-29 19:22] kirillzyusko commented on #25
Hi @Suman199201
Did you follow https://github.com/kirillzyusko/react-native-wifi-p2p#caveats instructions?

[2020-07-02 05:43] J-Ghodasara opened #26 "failed to connect to /192.168.49.1 (port 8988) from /192.168.49.1 (port 47274) after 5000ms: isConnected failed: ECONNREFUSED (Connection refused)"
I am getting this error while sending the file or message.  I have followed exactly the same steps for sending a file as mentioned but still, I am not able to send it. Can you please help me out?

My code is as below. I was able to connect the two devices successfully but while sending file I am getting the above error.

[code]

[code]

[2020-07-02 07:23] kirillzyusko commented on #26
Hi @J-Ghodasara
How `path` variable looks like?

[2020-07-02 07:28] J-Ghodasara commented on #26
The path looks like "file:///file%3A/data/user/0/com.juvo.sharesafe/cache/react-native-image-crop-picker/IMG-20200701-WA0003.jpg"

[2020-07-02 07:33] kirillzyusko commented on #26
Could you try to replace `%3A` symbol to corresponding UTF-8? As far as I remember it should be `:` (however I'm not 100% sure :))

[2020-07-02 07:42] J-Ghodasara commented on #26
I have tried this path "file:///data/user/0/com.juvo.sharesafe/cache/react-native-image-crop-picker/IMG-20200701-WA0003.jpg" but still getting same error.

[2020-07-02 07:44] kirillzyusko commented on #26
Ok, can you then capture native logs (via `adb logcat`) and send it here as file?

[2020-07-02 07:55] J-Ghodasara commented on #26
Yes sure. Here is the log file you can find the error in the end.
[logcat.docx](https://github.com/kirillzyusko/react-native-wifi-p2p/files/4862729/logcat.docx)

[2020-07-02 08:04] J-Ghodasara commented on #26
These are the steps I have done:-

1) Create a Group on 1st device.
2) Connect() on 2nd device.
3) ReceiveFile() called on 2nd device
4) SendFile() called on 1st device.

Correct me if I am doing anything different

[2020-07-02 08:29] kirillzyusko commented on #26
Hm, I found it in my docs:

[code]

Could you change devices in 3-4 items and write here about results?

[2020-07-02 10:30] J-Ghodasara commented on #26
Also, I have noticed that I am also getting this error "Error while File sending {"code": 1, "message": "Operation failed because p2p is unsupported on the device."}".

But I have checked on both devices and both are having wifi direct options. So I am not able to understand that why it's saying that p2p is unsupported on device. Are you having idea why is it so?

[2020-07-02 10:31] kirillzyusko commented on #26
Is it happening when you call `sendFile`?

[2020-07-02 10:32] J-Ghodasara commented on #26
Yes when I am getting this when I call sendFile

[2020-07-02 10:34] kirillzyusko commented on #26
Hm, interesting 🤔
Did you get the same error when you collecting `logcat` logs?
If yes, then a little bit later I promise to have a look on this problem (when I get to a laptop with windows😄 )

[2020-07-02 10:43] J-Ghodasara commented on #26
Yes, the error is present in the logcat file and it is at the end of the file so you can find it easily. No worries please have a look at it and till then I will try to debug the error and try to understand what's the problem.

Please revert back to me if you find the solution because since the past 2 days this error has blocked me.
Thanks for your time :)

[2020-07-02 15:49] kirillzyusko commented on #26
@J-Ghodasara I can not open this file on Windows too.
Could you send these logs in `.txt` format?

[2020-07-02 17:23] sharmakumaraditya opened #27 "App Crashing when clicking on Connect Button"
Whenever i am clicking the Connect , Create Group or Send Button the App is Crashing and when i am pressing other buttons nothing is happening, can anyone please help me with this. The app is crashing again and again and to no success i was able to fix it.

[2020-07-02 17:35] kirillzyusko commented on #27
Hi @sharmakumaraditya
1. Does your device support p2p feature? Are you sure, that wifi enabled, when you call `createGroup`?
2. Did you call `init` method in the beginning?
3. Could you capture logs via `adb logcat` and send them here as `*.txt` file?

[2020-07-02 17:45] sharmakumaraditya commented on #27
link to the txt file : [log.txt](https://github.com/kirillzyusko/react-native-wifi-p2p/files/4865876/log.txt)
1. Yes my Device does support p2p

Thanks for the quick reply

[2020-07-02 18:17] kirillzyusko commented on #27
It looks like `state.devices` is empty. Then `state.devices[0].deviceAddress` will give you an error.
Am I correct?

[2020-07-02 18:28] sharmakumaraditya commented on #27
I actually haven't checked that , i am just using this example https://github.com/kirillzyusko/react-native-wifi-p2p-example , i have just cloned this repo and actually i am trying to run this app.

[2020-07-02 19:46] kirillzyusko commented on #27
Can you attach log when you do following:
1. Open app
2. Call `init`
3. Call `createGroup`

[2020-07-02 20:08] sharmakumaraditya commented on #27
[log.txt](https://github.com/kirillzyusko/react-native-wifi-p2p/files/4866419/log.txt)

This is the log file for create group

[2020-07-02 20:12] kirillzyusko commented on #27
@sharmakumaraditya cool. But I see only JS logs. I'd like to see all logs (including Java). Could you please capture it via `adb logcat` comand?

[2020-07-02 22:07] sharmakumaraditya commented on #27
Sure i got it, the app crashes when the create group is clicked more than once.

[2020-07-02 22:07] #27 closed

[2020-07-04 22:22] sandipchandra17 commented on #22
Dear sir, I am facing the same issue. I changed the file name and path according to the host(server) mobile like /storage/emulated/0/docs/filename.extension format but geeting the same above error.

[2020-07-05 13:01] kirillzyusko commented on #22
Hi @sandipchandra17
File path should start with `file://` prefix

[2020-07-05 13:02] sandipchandra17 opened #28 "File path and file name on receiver end"
1. Can you please let me know where can I change the receive file name and path as I see there is hardcoded path and extension is always jpg where the file is getting saved.

2. And also why jpg file not reflected in gallery on receiver phone after succesfull receive.

[2020-07-05 13:30] kirillzyusko commented on #22
Since we clarified, that method is working I'm going to close this issue.
For all other problems, which were discovered here I will create separated issues.

[2020-07-05 13:30] #22 closed

[2020-07-05 13:36] kirillzyusko opened #29 "Fix `sendFile` promise resolving"
Now promise resolves almost instantly
We should handle all process of file transfering and report correct errors if they have accurred.

And fix the documentation (with `filePath` example, how it should look)

[2020-07-05 13:47] sandipchandra17 commented on #28
And also why jpg file not reflected in gallery on receiver phine..

[2020-07-05 19:01] sandipchandra17 commented on #22
Dear sir,  can you please send an example code where did you change the file name and extension.. as file is receving properly in my case but extensiin always is .jpg for all kind of files and fulename is wifip2pshared -timeatamp and in gallery actual jpg file not displayed.

[2020-07-05 19:04] sandipchandra17 commented on #22
This is solved but why error message is throwing like error while file receiving code will be soon.. as per ur code its not showing succesfull msg rather going to catch block though file received in receiver mobile properly.

[2020-07-05 19:20] kirillzyusko commented on #22
I'm going to fix the problem with extension/filename (you created new issue about this problem, so I'm going to post all actual info there).

According to another problem (why error is throwing in case of successful transfer) - could you please create new issue and attach actual logcat logs there?

P.S. This thread is too long, so I wouldn't recommend post any info here, since it's really difficul

[2020-07-06 07:36] J-Ghodasara commented on #26
@kirillzyusko I was trying to debug the issue and I found that inside FileServerAsyncTask.java line number 48 that is f.createNewFile(); at this line, I am facing some issue. After this line the code is not getting executed can you please check and tell what may be the issue.

The path I am sending in sendFile() is "/storage/emulated/0/DCIM/Screenshots/Screenshot_2020-07-06-10-33-29-28_3a637037d35

[2020-07-06 07:39] kirillzyusko commented on #26
Hi @J-Ghodasara
Can you request READ/WRITE permissions?

https://github.com/kirillzyusko/react-native-wifi-p2p#sendfilepathtofile

[2020-07-06 08:20] J-Ghodasara commented on #26
voilà man. Now it works. Awesome man thank you so much. Finally after 4 days of debugging its finally working i am so happy. Closing this issue.

[2020-07-06 08:20] #26 closed

[2020-07-06 09:49] kirillzyusko commented on #28
Hi @sandipchandra17
It's fixed in https://github.com/kirillzyusko/react-native-wifi-p2p/commit/ed7fe609ecfad62835dc545d0734c761ad5ae9af
I'm going to re-write a lot of code from the library in the nearest days.
So, I hope, soon I will publish version `3.0.0`

[2020-07-06 11:37] sandipchandra17 commented on #28
Hi,

[2020-07-06 11:41] sandipchandra17 commented on #28
I saw ur code in java files and I also tried to capture the filename from socket object in doinbackground method but not working.. are you to send hardcoded filename from app.js I see you used filename and path from receivefile method.. I just wanted to pick the extension whichever file selected by sender in the doinbackground mthod of fileserverasynctask.java file.

[2020-07-06 12:31] kirillzyusko commented on #28
The receiveFile method will take two parameters (the directory where file should be saved and the file name).
If you need to transfer the same file name that the client sends, you can use sendMessage/receiveMessage methods, where before sending the file, you should first send its name, which is then specified in the receiveFile.

I did this because native tools do not involve transferring a file w

[2020-07-06 14:18] kirillzyusko commented on #29
Fixed in `3.0.0`

[2020-07-06 14:18] #29 closed

[2020-07-06 14:18] kirillzyusko commented on #28
Fixed in `3.0.0`

[2020-07-06 14:18] #28 closed

[2020-07-06 14:19] kirillzyusko commented on #24
I think I provided all info.
I'm going to close this issue due to inactivity :)

[2020-07-06 14:19] #24 closed

[2020-07-06 14:21] kirillzyusko commented on #25
Since there was no answer for a long time, I close this issue.
In the examples of version `3.0.0`, in componentDidMount I specifically put a request with permissions in order to avoid the appearance of this issue in the future.

[2020-07-06 14:21] #25 closed

[2020-07-06 14:23] kirillzyusko commented on #22
@sandipchandra17 @fncallback @erdeepsangani @sharmakumaraditya I fixed this issue in `3.0.0`

[2020-07-06 15:21] sandipchandra17 commented on #28
Thanks sir..

I have one question how do I know which file extension sender has send like it can be mp3 or jpg or mp4.. so if I run this application in two mobile how the receiver mobile identify as I cant hardcode file extension..

[2020-07-06 15:36] kirillzyusko commented on #28
Call `sendMessage` before with your `fileName`.

So the flow is next: determine `fileName` on client side -> call receiveMessage() on server -> sendMessage(fileName) on client -> call receiveFile(directory, receivedFileName) on server -> call sendFile() on client.

[2020-07-06 17:24] sandipchandra17 commented on #28
Thanks for your suggestion.  I tested it successfully as per your steps and different types of file are receiving..

But the problem is jpg or mp4 filesreceived though it is not reflected in mobile gallery automatically what generally happens but if i change the file name or the received folder name then its  reflected in gallery..
So you have any idea why it is happening in android phone and my a

[2020-07-06 18:19] kirillzyusko commented on #28
Hm, to be honest don't have any ideas :)
But I think it's not a problem of this library
I would say it's a problem of Android
Similar issue: https://stackoverflow.com/questions/36012618/android-renamed-image-file-not-shown-at-phone-gallery-folder
So I'd recommend you to search this problem in internet😉

[2020-07-07 09:22] sandipchandra17 commented on #28
I saw it internet i think something has to add in the intent level: File file = ..... // Save file context.sendBroadcast(new Intent(Intent.ACTION_MEDIA_SCANNER_SCAN_FILE, Uri.fromFile(file))).

[2020-07-07 09:25] sandipchandra17 opened #30 "Multiple file transfer at a time"
Is it possible to send mutiple files to receiver using this library?
Scenario is receiver will click one time in the receive file button and sender select multiple file and send at one go..

[2020-07-07 09:31] kirillzyusko commented on #28
@sandipchandra17 Can you share a link, where did you see it?
And, I think, it's better to open new issue, for the problem with appearance file in gallery.

[2020-07-07 09:54] kirillzyusko commented on #30
Hm, I never thought about it.
But once again, you can use the trick with sending message, which contains all required information.
For example you can create own methods sendMultipleFiles(files[])/receiveMultipleFiles()

Let's consider next flow (how these functions may be implemented):
1. Server calls `receiveMessage()`
2. Client calls `sendMessage(JSON.stringify({ filesCount: files.length }))`
3

[2020-07-07 12:36] sandipchandra17 opened #31 "Appearance files in receiver mobile gallery"
To display received file likes image or video in gallery we can look for the below:
Link: https://stackoverflow.com/questions/2170214/image-saved-to-sdcard-doesnt-appear-in-androids-gallery-app

[2020-07-07 12:43] kirillzyusko commented on #31
I got it
I think I will change the source of this library in the nearest days and publish it under `3.1.0` version (if I can not find another way for force-scanning gallery).

[2020-07-07 17:44] sandipchandra17 commented on #30
In which file need to create these methods.

[2020-07-07 18:13] kirillzyusko commented on #30
You can create it in your project :)
It shouldn't be included in this library I think.
If it's needed in your project - create own set of functions.
Because every project is unique. And requirements for every project is also unique.
The purpose of this library is providing set of functions, which are written on the top of native API.
I wouldn't like to cover all cases in one library, since API wil

[2020-07-07 18:43] sandipchandra17 commented on #30
Thanks I will try in my react native code..

[2020-07-07 19:01] sandipchandra17 opened #32 "Message and file not working all time"
1. I followed the steps receive msg->send msg but getting differebt errror in different times though my connection is well formed between two mobile.
I attached screenshots
![Screenshot_20200708-001816_PassOn](https://user-images.githubusercontent.com/42357868/86829458-0e02d600-c0b2-11ea-8f64-a2f134806e49.jpg)

![20200708_002409](https://user-images.githubusercontent.com/42357868/86829489-18bd6b00

[2020-07-07 19:04] kirillzyusko commented on #32
Try to add delay before sending file. I think ~300ms is enough.

[2020-07-07 19:05] kirillzyusko commented on #30
Thanks. I will close this issue.
Feel free to re-open, if needed.

[2020-07-07 19:05] #30 closed

[2020-07-07 20:01] sandipchandra17 commented on #32
300ms is not working.
Also after 3secs i am geeting error as below
![Screenshot_20200708-011057_PassOn](https://user-images.githubusercontent.com/42357868/86836116-ab620800-c0ba-11ea-9b82-71f2f3928dfa.jpg)

Sometimes long waiting its working but no guarntee sometimes getting this error .

[2020-07-07 21:13] kirillzyusko commented on #32
Can you share your code?

[2020-07-08 17:40] sandipchandra17 commented on #32
Dear Kirill,

I have sent my app.js via gmail to your gmail.. please check.

[2020-07-08 17:55] kirillzyusko commented on #32
@sandipchandra17 You sent me almost identical code from my example project. Which flow isn't working there?

[2020-07-08 18:08] sandipchandra17 commented on #32
As i told different types of error like below scenario:
1. Testing in two mobile android 9 and another android 6.
Clicked receive msg in receiver mobile -> clicking on send messege on sender mobile, its saying files successfully received in receiver mobile but nothing received.
2. Sometimes clicking on send msg and receiver mibile received exif. Screenshot attached.
3. Send msd>receive msg sucessf

[2020-07-08 18:31] kirillzyusko commented on #32
1. I think it's impossible. "successful" means no error occurred in Java code. So file should be in a place.
2. It seems, like stream of bytes was interrupted or you are trying to send the message not in UTF8. I need to have a look on Java logs. I can not say anything without them.
3. That would be nice if you could re-create this scenario in code. By promise chaining. In this case I can reproduce

[2020-07-08 18:49] sandipchandra17 commented on #32
This is the same code i sent younin gmail.
1. In this scenario why received file message would come when i click on send messge. It should come as message received successfully.
2. I am sending normal string message if you can look my code send message method.
3. Sometimes its working fine sometimes not may be time gap issue.. but in real life application how do i know what time i have to put..
4.

[2020-07-08 19:00] kirillzyusko commented on #32
The code that you sent me presented in format button -> handler. You haven't provided a full history of all actions that you performed/buttons that you pressed. I am asking for small piece of code. Can you create your own button (like "Reproduce Issue 1") and make handler for it, where I will see all methods, which you are calling and the order of these methods?

[2020-07-08 19:08] sandipchandra17 commented on #32
Sorry I dont get your point.. what do you mean by firmat button-handler. I am testing same file you provided in the site..
 My scenario is I have generated apk file from that code and installed in two mobiles. Then the process you mentioned I am doing

[2020-07-08 19:15] kirillzyusko commented on #32
When I tested everything was fine, even with multiple message sending.
At least you are trying to send messages two times, right?
Can you put this business logic into separated function, and create special button for calling this method?
And provide this code here?

[2020-07-08 19:34] sandipchandra17 commented on #32
I havnt started any logic on yiur cide yet.
What I did is single click on below button clicks on the same code app.js yiu provided.. I dint how everything was fine in your test but i am testing same code.

My steps only one click:
Create group in mobile 1
Investigate in mobile 2
Connect in mobile 2
Receive message in mobile 1
Send message in mobile 1 --- giving above errors exif and sometimes no m

[2020-07-08 21:55] kirillzyusko commented on #32
Hm, did you call `getConnectionInfo` after connection established?

[2020-07-09 05:38] sandipchandra17 commented on #32
Yes I checked connection info and it was fine..
Today I tested again with some more time gap between steps and its working fine.. but how come end user will know how much have to wait..
So what I qas thinking Is it possible from your java classes return some messages like when receive message arrived successfully in receiver mobile, sender will be notified so that app will allow him/her to proceed

[2020-07-09 07:13] kirillzyusko commented on #32
Hi @sandipchandra17
In fact your message gave me one interesting idea, why it may happen.
If I try to fix one bug and give you a branch (I won't publish these changes in npm but you will be able to install it from github) - can you test it and say, whether bug is persist?

[2020-07-09 08:09] kirillzyusko commented on #31
Changes are shipped in https://github.com/kirillzyusko/react-native-wifi-p2p/commit/a89d517247055e6e75beefac29ecdf4fa9541a10
I'm going to test it today evening. If everything is fine I will publish it today evening.

[2020-07-09 08:42] sandipchandra17 commented on #31
Great job.. thanks

[2020-07-09 08:43] sandipchandra17 commented on #32
Ok I will test this more minutely.. will let you know..

[2020-07-09 08:46] kirillzyusko commented on #31
@sandipchandra17 If you want - you can test it and give me your feedback. Merely install this package from github and rebuild your app. And you will be able to use new feature with `forceToScanGallery`.
Also in this case you can save my time and I can spend it on fixing other issues that you reported :)

[2020-07-09 12:34] sandipchandra17 commented on #31
I can't download the files. If you can provide me somehow or directly publish I will test and let you know.

[2020-07-09 12:37] sandipchandra17 commented on #32
I was thinking the point that rather than increasing time can we have live status exposed to both sender and received about message send to receiver or not informed to sender and file is downloading status to both sender and receiver and how much data is remaining. I don't know its possible or not just I thought.

[2020-07-09 12:42] kirillzyusko commented on #31
@sandipchandra17 sure, I can.
Just change this line in package.json:
[code]
And re-install your dependencies.

[2020-07-09 13:03] kirillzyusko commented on #32
@sandipchandra17 It can be possible. I can emit event when part of data has been transferred successfully.
But promises model is informing us about that. When promise is resolved -> data transferring is ended.

To be honest I saw the time difference between 'File received successfully' and 'File sent successfully:' ~300ms, when I transferred file ~10mb. I can not understand the cause of this delay

[2020-07-09 13:59] sandipchandra17 commented on #31
Installed successfully 3.1.0 but getting an error when i click on receive file. I am passing true as 3rd argument from app.js receive file method.
![Screenshot_20200709-190826_PassOn](https://user-images.githubusercontent.com/42357868/87049212-4fae9080-c21a-11ea-88d0-251a2ac7b7ad.jpg)

I think this is due to one callback you added in manager module- receiveFile method but index.js sending 3 argume

[2020-07-09 15:44] kirillzyusko commented on #31
index.js sending 4:

`WiFiP2PManager.receiveFile(folder, fileName, forceToScanGallery, (pathToFile) => {`

Can you send me code snippet how do you use new method?

[2020-07-09 16:11] sandipchandra17 commented on #31
Sending true from app.js - receiveFile method.
![Screenshot_20200709-190826_PassOn](https://user-images.githubusercontent.com/42357868/87064092-df5d3a80-c22c-11ea-8489-4004dd382612.jpg)

[2020-07-09 16:13] sandipchandra17 commented on #31
Passing true from receiveFile method in app.js file:

![20200709_213926](https://user-images.githubusercontent.com/42357868/87064357-3a8f2d00-c22d-11ea-8694-870da6bb0398.jpg)

[2020-07-09 16:20] kirillzyusko commented on #31
Weird.
I will test it.

[2020-07-09 16:27] sandipchandra17 commented on #31
Ok.. also along with this you can check this in yiur test if the previous one not working.

I found another info for different androis version not sure helpful or not:::
public void refreshAndroidGallery(Uri fileUri) {
        if (Build.VERSION.SDK_INT >= Build.VERSION_CODES.KITKAT) {
            Intent mediaScanIntent = new Intent(
                    Intent.ACTION_MEDIA_SCANNER_SCAN_FILE);

[2020-07-10 05:27] J-Ghodasara opened #33 "CancelConnect() not working."
After successfully executing sendMessage() I am calling cancelConnect() to cancel the connection but it is throwing error -

{"code":2,"message":"Operation failed because the framework is busy and unable to service the request"}.

Can you please help me out.

[2020-07-10 05:57] sandipchandra17 commented on #32
Yes I will test it.. let me know once you are done.

[2020-07-10 06:33] kirillzyusko commented on #33
Hi @J-Ghodasara
It seems to be truth. I can reproduce it too.
I will check why it may happen and post my answer here.

[2020-07-10 08:39] kirillzyusko commented on #31
Will be shipped in 3.1.0

[2020-07-10 08:39] #31 closed

[2020-07-10 11:00] kirillzyusko commented on #32
Discovered one problem. I'll try to fix it.

[2020-07-10 17:36] sandipchandra17 commented on #31
I tested this in android 7 and android 9 mobile working fine.. only one mobile lenovo k5note android 5 not refreshing gallery dont know why. May be mobile issue..

[2020-07-10 17:43] kirillzyusko commented on #31
Or android specific version issue. I don't have a lot of android devices. Only Xiaomi and Huawei.
On both everything was working fine.
That's why I published new version.

[2020-07-10 17:57] sandipchandra17 commented on #31
Okay fine then even my 2 android phones working fine in sumsung and geonee.

[2020-07-10 21:50] sandipchandra17 commented on #32
If possible please emit transfered byte so that it can be shown in progressbar to sender and receiver using react native..

[2020-07-11 22:08] kirillzyusko commented on #32
Small update: my laptop has died😔
I'm going to send it to the service center within next few days (two days I hope).
Hope they can fix it quickly.

[2020-07-11 22:09] kirillzyusko commented on #33
Small update: my laptop has died😔
I'm going to send it to the service center within next few days (two days I hope).
Hope they can fix it quickly.

[2020-07-12 04:35] sandipchandra17 commented on #32
Oh sad.. wish it recover soon..

[2020-07-12 05:47] sandipchandra17 commented on #32
Hi Kirill,

Need one clarification:
Is this library support that sender can connect with multiple receiver and send same files to all receivers at the same time.
Or this feature not currently included?

[2020-07-12 09:59] kirillzyusko commented on #32
Need to test it :)

[2020-07-13 14:50] sandipchandra17 commented on #32
Another two questions and one observation:
1. Is it possible to get own device name.
2. Is it possible for receiver know the device name of which sender connected. Because from group info its not clear.
3. Observation: when receiver successfully remove group but after long time later group info updated to sender means null.
Is it normal as wifi direct taking time for this update or bug?

[2020-07-13 15:16] kirillzyusko commented on #32
1. After enabling WiFI you should receive `THIS_DEVICE_CHANGED_ACTION`. According to this answer there should be info that you need.

For 2-3 I will have a look later.

P. S. don't mix your issues into one place. Feel free to create different issues :)

[2020-07-13 15:44] sandipchandra17 opened #34 "handleThisDeviceChanged method not working"
After entering to the application or changing the WIFI enable or disable this method doesn't trigger as need to get the own device information like name , address etc.

[2020-07-13 15:45] sandipchandra17 opened #35 "Inform sender device name to receiver"
Is it possible for receiver know the device name of which sender connected. Because from group info its not clear.

[2020-07-13 15:48] sandipchandra17 opened #36 "Remove group but handleNewPeers method triggering after long time"
when receiver successfully remove group but after long time later peers info updated( handleNewPeers method ) to sender.
Is it normal as wifi direct taking time for this update or bug?

[2020-07-13 15:50] sandipchandra17 commented on #32
Created 3 issues #34, #35 and #36

[2020-07-15 12:08] pratjosh9 opened #37 "Cannot connect devices, plus getting an error in Android O"
Cannot connect to groups.

In Android O, I'm getting an error "Operation failed due to an internal error"; after the location permission is provided.

The sample app was created from the example of usage from README.md. I've just added a view to output the contents of console.log.

Screenshot of the Error
![Error Pic](https://user-images.githubusercontent.com/41942493/87543059-a7894380-c6c1-11ea-8

[2020-07-15 12:48] kirillzyusko commented on #37
Hi @pratjosh9
As I can see from screenshot error happens in: https://github.com/pratjosh9/FileWarp/blob/master/App.js#L81

But in fact you call a lot of methods (from line 61 till line 82), such as: `initialize`, `PermissionsAndroid.request`, `startDiscoveringPeers`. From the error description, I may assume it's thrown by `startDiscoveringPeers`. Am I correct?

I tested it on Android O too, and ev

[2020-07-15 14:29] pratjosh9 commented on #37
Hi @kirillzyusko

Thanks for the quick response.

I'll try to refactor the code to pinpoint the exact line resulting in Code:0 but most likely it is coming from `startDiscoveringPeers`.

Yes, I can see the wifi network created by  `createGroup` in settings.

[Here](https://paste.ee/p/nWgwu) is the logcat of some operations on the app. I tried `createGroup`, `removeGroup`, `getConnectionInfo`, `get

[2020-07-16 09:46] kirillzyusko commented on #37
@pratjosh9 Thanks for logs!

I have a question: do you have GPS enabled?
I found this in logs:
[code]
From certain Android versions it's required to have GPS enabled in order to be able to discover P2P devices (I wrote about this requirement in readme: https://github.com/kirillzyusko/react-native-wifi-p2p#caveats)

[2020-07-16 12:48] pratjosh9 commented on #37
@kirillzyusko Thank you for the support.

I enabled location and changed parameters to few calls that led to the sample app being functional.

I'm closing this issue since the problem has been resolved.

[2020-07-16 12:48] #37 closed

[2020-07-22 19:20] sandipchandra17 commented on #36
Hi Kirill,

Any update? Your laptop issue solved?

[2020-07-22 20:09] kirillzyusko commented on #36
Hi @sandipchandra17
Not yet, but I hope it will be soon (first week of August)

[2020-07-23 07:53] sandipchandra17 commented on #36
👍👍👍

[2020-08-14 21:34] c-thun opened #38 "Unable to connect [Error: failed to connect to /192.168.49.1 (port 8988) from /192.168.49.1 (port 37003) after 5000ms: isConnected failed: ECONNREFUSED (Connection refused)]"
Repeatedly getting this while using sendMessage() and sendFile().
My code is as follows -
[code]

[2020-08-14 21:47] kirillzyusko commented on #38
Hm, looks like race condition in fact.
You are trying to send multiple files at the same time (that's how `forEach` works) - it's not correct.
In `receiveFromClient` function you receive only one file.

In case if you want to send multiple files you should do it sequentially: file1 -> file2 -> file3 (only after successful transfer of `file1` you start transfering `file2`).

I hope I gave you an an

[2020-08-14 21:49] c-thun commented on #38
So if i try and send one file, it should work, right?

[2020-08-15 10:05] kirillzyusko commented on #38
That would be nice if you can share your logs from `adb logcat`. Please, attach them as *.txt file.

You described your issue, and I understand what is the problem. And, of course, this problem shouldn't exist. So attaching Android logs (Java) can help me significantly :)

BTW, have you tried to switch you server/client devices? I mean run client code on "server" phone, and "client" code on server

[2020-08-15 10:45] c-thun commented on #38
I did change the roles of the devices multiple times but it didn't do anything different except for once when it did actually manage to send a message to the other device. Other than that one transmission, it didn't work regardless of which device was client and which was server.

Will attach the ADB Logcat response in a few hours (away from my laptop right now)

[2020-08-16 19:51] c-thun commented on #38
Here is the ADB Logcat. Steps done in sequence : -
* Reloaded the app,
* Selected a file to send (the other device was on receive mode),
* Waiting for the other device to show up as peer,
* Selecting it and sending it (only one message and file to prevent race condition)
* App crashed while sending,
* Reloaded app,
* Clicked on the receive button to initiate createGroup() which then failed.

In ad

[2020-08-16 21:33] kirillzyusko commented on #38
As I wrote in https://github.com/kirillzyusko/react-native-wifi-p2p#sendmessagemessage you should call `getConnectionInfo` before sending actual data. Have you completed this step? As I see from logs the internal variable is `null`. That's why I thought you might have forgotten about this step.

[2020-08-18 20:23] c-thun commented on #38
```getAvailablePeers()``` was called only as a debugging step to confirm if it was actually seeing the other device or not. The logcat output after removing the line are attached below. Also, I used ```console.log(devices)``` in ```subscribeOnPeersUpdates()``` to confirm if there actually are devices nearby. Attaching that as well.

Also, you are right that ```getConnectionInfo()``` is failing
[ad

[2020-08-18 20:29] c-thun commented on #38
Trying after reversing the devices, here are the adb logcat files after reversing the devices roles.

Also, I got a doubt. ```createGroup()``` always fails as it says that the framework is busy. Could it be because ```subscribeOnPeersUpdates()``` is always running in the background and preventing ```createGroup()``` from using the WiFiP2P service? If that is the case, I can unsubscribe before call

[2020-08-18 20:39] kirillzyusko commented on #38
I don't think so.
In fact I found the same problem. Try to find 01:49:44.409 from previous log. What was this command? createGroup? Have you checked - maybe group already was formed?
BTW, what type of debugging do you use? Through WiFi or through USB cable? (If you are debugging/downloading bundle via WiFi - please, try to switch to cable method).
I'm asking because I see `SoftException` from RN s

[2020-08-18 20:53] c-thun commented on #38
The one on 01:49:44.409 is the output that is caused by problems in the ```startDiscoveringPeers()``` method. This one actually would have happened because the app crashed during ```sendMessage()``` and upon reload, was not able to even start discovering the peers properly. I needed to force close the app and reload it from scratch to get it working normally. So, this output was post crash

Also,

[2020-08-19 19:38] c-thun commented on #38
Any updates?

[2020-08-19 21:11] kirillzyusko commented on #38
One interesting moment:

[code]

Why bridge has been destroyed? :) It happens before actual sending.

Another moment:

[code]

Why it removes two times?

In adb reverse:

[code]
Why so?

I don't see any direct errors, to be honest... Could you edit your code in `node_modules` and add more `Log.i` statements? I don't know why `getConnectionInfo` failing...
Also I don't see `Successfully created gro

[2020-08-19 21:23] c-thun commented on #38
So you mean adding more log statements in ``` react-native-wifi-p2p``` package?

And yes, I am never able to create group despite following the exact same order that was in your documentation. Can the issue here also be caused by the fact that I'm using a rooted phone with a custom ROM? If yes, then I can retry running the code after reverting the devices to the OEM builds (I'm not sure why this w

[2020-08-20 07:10] kirillzyusko commented on #38
Yes, it may be useful to see, where the errors occur. You can try to wrap the body of `getConnectionInfo` in `try/catch` statement and see, what error emerges there. I think it can be useful.

It can be, however I'm not sure...

[2020-08-22 07:52] micahbule opened #39 "Data flow clarifications"
Based on the documentation, I need to clarify some workflow concerns.

- It seems like data flow, that is sending messages or files, is only available in the form of the client sending data to the server. Can the server use the same methods and send messages/files back to the client?
- If no, then what would be the ideal design for 2-way communication between devices? As I understand that a device

[2020-08-28 18:07] c-thun commented on #38
Tried both of your recommendations. Here is the attached log file. If you feel like, you may view my app code (I made the repo public)

Here it is : https://github.com/c-thun/meridio

You will see two send cases in the adb logcat. I am trying to only send the message this time (regardless of the console output) and the first time, I send the name of one file as a message only while the other time

[2020-08-28 18:14] kirillzyusko commented on #38
I will try to run your repo on my phones.

[2020-08-28 18:18] c-thun commented on #38
By some random method : One device did manage to send a Hey message to the other (I saw it received on the second device) but that so far has just been an anomaly. Unable to reproduce it

[2020-09-01 12:28] c-thun commented on #38
Any updates?

[2020-09-01 12:31] kirillzyusko commented on #38
@c-thun Still haven't had a chance/free time to test it...
Too busy with main work, unfortunately :(

[2020-09-01 12:33] c-thun commented on #38
No worries. With Nearby Share being pushed out to all android users, my project no longer is time constrained and has become more of a enthusiast learning endeavour. Take your time. I am also between projects currently :)

[2020-09-01 12:50] kirillzyusko commented on #38
@c-thun By the way, did you consider to try to use [nearby](https://github.com/butchmarshall/react-native-google-nearby-connection) API?

[2020-09-01 13:06] c-thun commented on #38
I didn't know this API was there. This sounds perfect. I'll try this out asap. Thanks a  lot

[2020-09-29 07:37] Alnsentry opened #43 "react-native-wifi-p2p connect and send ZPL code to zebra printer via hf2211 wifi serial device server"
Hi, my name is akbar, I have a project to create a mobile application for a zebra printer and I want the zebra mobile application and printer to connect with wifi and the mobile application can send zpl code to the printer via serial device server. can this library handle it?.

[2020-09-29 08:09] kirillzyusko commented on #43
Hey @Alnsentry
I didn't work with these devices so I can not assure anything. If you can connect to this printer over WiFi direct connection from Android settings and somehow control your device - then I would say yes, it's possible (but it may require some code modification for specific task).
But I can not say anything with 100% confidence in advance.

[2020-09-29 08:23] Alnsentry commented on #43
Thank you, for your response @kirillzyusko . I'll try first whether this works or not

[2020-10-10 07:40] Rk-choudhary-ck commented on #32
Hii
i am facing the same problem in my project. when i click on send message i will face this problem. please tell me what should i do? and one thing more i don't know how i test my code because i'm running my project on real device. it is connect with multiple wifi connections but message not send . just i used the code from github with no changes . can i need to change any part of my code so my

[2020-10-10 10:10] kirillzyusko commented on #32
@Rk-choudhary-ck The problem above was happening because `sendMessage` method was calling several times. Could you describe your steps more precisely? How many devices do you have? What is the error do you get? Which steps are you doing?

[2020-10-12 05:21] Rk-choudhary-ck commented on #32
i am using the two android device my connection is established successfully but i am not share any message or file one to another device . could you tell me how should i start from first step.

[2020-10-12 05:56] Rk-choudhary-ck commented on #32
![Screenshot_2020-10-12-11-18-01-097_com sharedemo](https://user-images.githubusercontent.com/71312337/95710098-a2ff0780-0c7d-11eb-8e7c-eabdee57de79.jpg)

[2020-10-12 08:18] kirillzyusko commented on #32
Hi @Rk-choudhary-ck
Did you follow [this](https://github.com/kirillzyusko/react-native-wifi-p2p#sendmessagemessage) instruction?
Are you sure, that you completed 3d item in this list?

[2020-10-12 09:04] Rk-choudhary-ck commented on #32
Hii Kirillzyusko
yes i following these instructions but i get a error about fail connection the error is :
 Error while message sending [Error: failed to connect to /192.168.49.1 (port 8988) from /192.168.49.1 (port 38749) after 5000ms: isConnected failed: ECONNREFUSED (Connection refused)]

[2020-10-12 09:37] kirillzyusko commented on #32
@Rk-choudhary-ck When this error happens?
Could you send adb logcat logs as well?

[2020-10-12 09:49] Rk-choudhary-ck commented on #32
i think it's no about logcat because it will happen in case when i send message .

[2020-10-12 11:19] kirillzyusko commented on #32
I was asking for logs from logcat in order to understand where is the error happens...
Without logs from device I can not say anything, unfortunately.

[2020-10-13 05:26] Rk-choudhary-ck commented on #32
Hii kirillzyusko
now i am face in log this kind of error.
 LOG      Error while file sending [Error: failed to connect to /192.168.49.1 (port 8988) from /192.168.49.1 (port 35053) after 5000ms: isConnected failed: ECONNREFUSED (Connection refused)]

[2020-10-13 10:24] kirillzyusko commented on #32
@Rk-choudhary-ck I can not help unless you provide `adb logcat` output. You give me only final exception. But I can not understand what is the reason of this exception. Maybe it's permission issues. Maybe something another. I don't know. That's why I ask you to give me logs from your device.

[2020-10-13 11:34] Rk-choudhary-ck commented on #32
Thanks Kirillzyusko

[2020-10-22 05:14] Rk-choudhary-ck commented on #32
Hello Sir..
Now p2p working well for me. i wanna make a aap like shareit .. onSendfile
method not send file when i use document picker package .. i think file
path may be incorrect . so please give me any solution what can i do for
share all types of files.

On Tue, Oct 13, 2020 at 3:54 PM Kirill Zyusko <notifications@github.com>
wrote:

[2020-10-22 07:15] kirillzyusko commented on #32
Hi @Rk-choudhary-ck
Can you please give an example of path that doesn't work?

[2020-10-22 07:56] Rk-choudhary-ck commented on #32
[{"fileCopyUri":
"content://com.android.providers.media.documents/document/audio%3A34349",
"name": "Swaah Ban Ke (MzcPunjab.Com) AETrim1554384038160", "size": 801597,
"type": "audio/mpeg", "uri":
"content://com.android.providers.media.documents/document/audio%3A34349"}]

this is complete information about file path that stored in multipleFile
variable ... but i'm only using this path
content://com

[2020-10-22 09:10] kirillzyusko commented on #32
Hi @Rk-choudhary-ck
Please, have a look on [this](https://github.com/kirillzyusko/react-native-wifi-p2p/issues/38#issuecomment-678618178) thread
Your path contains symbols like `%3A`. You should convert them to plain chars.

[2020-10-22 10:00] Rk-choudhary-ck commented on #32
sir one thing more i set path of storage in onReceiveFile function
return receiveFile(RNFS.DownloadDirectoryPath, 'BFMV:Letting You Go.mp3')

can this storage receive all types of files that i have selected ?

On Thu, Oct 22, 2020 at 2:40 PM Kirill Zyusko <notifications@github.com>
wrote:

[2020-10-22 11:11] Rk-choudhary-ck commented on #32
sir now i make exact format of file but still have a problem my log is show
:-

content://com.android.providers.media.documents/document/audio:3A34349
[Thu Oct 22 2020 16:37:15.223]  LOG      You can use the storage
[Thu Oct 22 2020 16:37:15.437]  LOG      File received successfully

but file not show in the folder .. that means file has not been sent

On Thu, Oct 22, 2020 at 3:29 PM Rakesh Kamboj

[2020-10-22 15:37] kirillzyusko commented on #32
What is the path `RNFS.DownloadDirectoryPath` looks like?

[2020-10-23 04:39] Rk-choudhary-ck commented on #32
this one
/storage/emulated/0/Download

On Thu, Oct 22, 2020 at 9:08 PM Kirill Zyusko <notifications@github.com>
wrote:

[2020-10-23 08:44] kirillzyusko commented on #32
@Rk-choudhary-ck you missed a slash. It should be `/storage/emulated/0/Download/`.

[2020-10-23 11:35] Rk-choudhary-ck commented on #32
Hello sir ..
i facing now same error after changes onSendFile and onReceiveFile these
are my paths:-
file Receive path: /storage/emulated/0/Download/
file SendPath:
content://com.android.providers.media.documents/document/audio:3A34349
and message is displayed: File received successfully
but file not send actually..

On Fri, Oct 23, 2020 at 2:14 PM Kirill Zyusko <notifications@github.com>
wrote:

[2020-10-23 13:10] kirillzyusko commented on #32
@Rk-choudhary-ck if you want my help, then, please, attach `adb logcat` logs for both devices. For sender and for receiver.

[2020-10-24 05:06] Rk-choudhary-ck commented on #32
sir these are my both files logcat and console file .. please check these
file if any mistake please tell me.

On Fri, Oct 23, 2020 at 6:41 PM Kirill Zyusko <notifications@github.com>
wrote:

[Sat Oct 24 2020 10:28:27.671]  BUNDLE  ./index.js

[Sat Oct 24 2020 10:28:36.297]  BUNDLE  ./index.js

[Sat Oct 24 2020 10:28:39.175]  LOG      Running "shareit" with {"rootTag":1}
[Sat Oct 24 2020 10:28:39.

[2020-10-26 06:38] Rk-choudhary-ck commented on #32
Hello sir
 i am waiting for your reply

On Sat, Oct 24, 2020 at 10:35 AM Rakesh Kamboj <kambojrakesh01@gmail.com>
wrote:

[2020-10-26 08:43] kirillzyusko commented on #32
@Rk-choudhary-ck well, first of all - you attached JS logs/logs from metro bundler. It's not sufficient information and I can not tell anything from this logs. Secondly - your problem is that you can not properly use two libraries together (react-native-document-picker and react-native-wifi-p2p) and it's not related to this issue (the problem in this issue is that sending multiple files with short

[2020-10-26 09:21] Rk-choudhary-ck commented on #32
okay sir thanks
but please tell me what should  to do  for sharing multiple files p2p
without using react-native-document-picker. because i wanna make  app like
shareit and it's my first app.. please suggest any other package for choose
files and also work with react-native-wifi-p2p.
i'm thankful to you  because you giving me lot of time from your busy
schedule.

On Mon, Oct 26, 2020 at 2:14 PM Ki

[2020-10-26 10:20] kirillzyusko commented on #32
@Rk-choudhary-ck please, create a new issue.

[2020-11-24 16:43] 92sajid110 commented on #39
hello @kirillzyusko ,
thanks for this great library.
My question is that can i send big files (.mp4,.pdf,or any file)like shareit using this library or only images or messages.

[2020-11-24 19:42] kirillzyusko commented on #39
Hi @92sajid110
The size of file doesn't matter. I was able to successfully transfer files ~10Mb (but it's still relatively small size). I didn't try to send really large files (several gigabytes). But I don't think there will be any restrictions. Let me know if you find them 😉

[2020-12-24 20:23] prakash3720 opened #44 "{code:0, message: "Operation failed due to an internal error"}"
![issue](https://user-images.githubusercontent.com/56195174/103105365-5fe4eb80-4653-11eb-9559-cc365944429e.jpeg)
I am getting this error when I tried the [react-native-wifi-p2p-example](https://github.com/kirillzyusko/react-native-wifi-p2p-example) without any code modification. I installed all the dependencies and executed 'npm run android' to run on my physical device. I'm getting this error as

[2020-12-25 08:43] kirillzyusko commented on #44
Hi @prakash3720
Please, attach JS logs and adb logs as txt files
And what is the device and OS version do you use?

[2020-12-25 11:16] prakash3720 commented on #44
Hi @kirillzyusko
Thank you so much for the quick response

This is the [log](https://github.com/kirillzyusko/react-native-wifi-p2p/files/5741829/log.txt) file and I'm using OnePlus 5T which is running on android 10

I looked into #17 but couldn't come up with a solution.

[2020-12-25 12:13] kirillzyusko commented on #44
@prakash3720 yes, you are right - it's general error. You attached only JS logs. May I ask you to attach pure adb logs?

[2020-12-25 14:50] prakash3720 commented on #44
I'm getting the same log for adb log too. You mean the **adb logcat *:S ReactNative:V ReactNativeJS:V** command or is it anything else?

I executed the above command when the app was running in another terminal

[2020-12-25 15:20] kirillzyusko commented on #44
@prakash3720 only `adb logcat`. We may find something interesting if we grab all logs from device😉

[2020-12-26 06:24] prakash3720 commented on #44
I'm getting [this](https://github.com/kirillzyusko/react-native-wifi-p2p/files/5742750/adblog.txt) for adb logcat

[2020-12-26 06:50] prakash3720 commented on #44
I'm getting [this](https://github.com/kirillzyusko/react-native-wifi-p2p/files/5742781/logcat.txt) for adb logcat without any params and [this](https://github.com/kirillzyusko/react-native-wifi-p2p/files/5742782/adblog.txt) with params to filter out the logs of the app

[2020-12-26 11:20] kirillzyusko commented on #44
@prakash3720 I thinks it's the reason:
[code]

[2020-12-26 12:12] prakash3720 commented on #44
@kirillzyusko That was my bad. I added `<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />` in AndroidManifest.xml but forgot to change `PermissionsAndroid.PERMISSIONS.ACCESS_COARSE_LOCATION` to `PermissionsAndroid.PERMISSIONS.ACCESS_FINE_LOCATION` in App.js

This error is not coming up anymore. I'll close the issue now. Thank you so much!

[2020-12-26 12:12] #44 closed

[2021-01-21 10:55] Rananjaya opened #45 "subscribeOnPeersUpdates doesn't fire at all it doesn't show me the connected devices Test on Android 10"
subscribeOnPeersUpdates doesn't fire at all it doesn't show me the connected devices on Android 10

  async componentDidMount() {
      try {

          await initialize();
          // since it's required in Android >= 6.0
          const granted = await PermissionsAndroid.request(
            PermissionsAndroid.PERMISSIONS.ACCESS_FINE_LOCATION,
              {
                  'title': 'Access

[2021-01-21 12:04] kirillzyusko commented on #45
Hi @Rananjaya
Did you follow [caveats)[https://github.com/kirillzyusko/react-native-wifi-p2p#caveats] instructions?

[2021-01-25 07:18] Rananjaya commented on #45
Hi @kirillzyusko Yes I followed  caveats instructions

[2021-01-25 14:52] kirillzyusko commented on #45
@Rananjaya could you attach logs from `adb logcat`?

But basically it's not a problem of this package. It's system code, so I think something is wrong with setup. So, please, provide logs :)

[2021-02-04 15:41] MuhammetAdamoglu opened #46 "I need mesh topology"
I need a p2p connection between android devices, 3 different devices should be able to exchange data with each other, but without a server. Only clients should be able to communicate with each other. However, when I look at the document, we can only use the star topology. The mesh topology I need. How can I get this topology with this library?

[2021-02-04 16:02] kirillzyusko commented on #46
Hi @MuhammetAdamoglu
Thanks for interesting question?
Is it possible to create mesh network using Android WiFi direct feature? Do you have small examples of such apps?

[2021-02-04 16:09] MuhammetAdamoglu commented on #46
Frankly, I cannot find many examples. I want to offer internet use with / without internet for my restaurant system. I need to create a network where cashiers, kitchens and waiters can communicate with each other. For example, when the waiter adds an order, it must be delivered to the kitchen and when the product is ready in the kitchen, he must inform the waiter that the order is ready. How can I

[2021-02-04 16:48] kirillzyusko commented on #46
@MuhammetAdamoglu yes, you described mesh network. Have you considered the usage of [nearby](https://github.com/butchmarshall/react-native-google-nearby-connection) API? Can it be done through it?

[2021-02-05 08:10] MuhammetAdamoglu commented on #46
I reviewed the Nearby api, the library was updated 3 years ago and I think it doesn't work on current android devices. I will try to establish a socket connection in the local network with [this library](https://www.npmjs.com/package/react-native-static-server). I hope it works.

As far as I know, the p2p connection must be based on the mesh topology. I know wrong?

[2021-02-05 20:44] kirillzyusko commented on #46
@MuhammetAdamoglu not sure I get your question. Could you elaborate a little bit more?🙂

Regarding first part, do you think react-native-static-server will allow p2p communication? As I could understand from the description it may serve only static files (not dynamic content, like, for example, text). Or I'm missing something?

[2021-04-26 08:10] J-Ghodasara commented on #33
Hello @kirillzyusko

Did you get a chance to look at this issue?

[2021-04-26 08:57] kirillzyusko commented on #33
Hi @J-Ghodasara

I already don't have second Android device, so I can not test it 😔

[2021-04-29 17:18] muzammil413tariq commented on #13
Hey I wants an app which can send data from my react native mobile app to my desktop please guide me how can i achieve this

[2021-04-29 17:30] kirillzyusko commented on #13
@muzammil413tariq could you please create a new issue?

[2021-04-29 17:38] muzammil413tariq opened #47 "Sharing App using same network"
Hey i want to create an app using react native whixh can share data from mobile to desktop

[2021-04-29 18:08] kirillzyusko commented on #47
@muzammil413tariq Does your desktop support android p2p-protocol?

[2021-04-29 18:10] muzammil413tariq commented on #47
@kirillzyusko  let me know how to check it ...and if its support then is this is possible to send data from mobile to desktop

[2021-04-29 18:18] kirillzyusko commented on #47
@muzammil413tariq how do you develop desktop application? Which framework are you using?

[2021-04-29 18:20] muzammil413tariq commented on #47
@kirillzyusko  Electron js

[2021-04-29 18:28] kirillzyusko commented on #47
@muzammil413tariq I don't think you can use this library for these purposes. I quickly ran through several links in Google and couldn't find any info on how to connect mobile device with PC.

[2021-04-29 18:30] muzammil413tariq commented on #47
@kirillzyusko so how can i send data from my mobile react native app  to desktop..Like shairit.

[2021-04-29 18:31] muzammil413tariq commented on #47
Many of modern device has in built support for this... I creating an react native app in which user can click images and send it to desktop..please suggest m how can i do it

[2021-04-29 19:20] kirillzyusko commented on #47
@muzammil413tariq if you can give me an example (source code) of app, that can share files between desktop/mobile, then I can help.

I don't know almost anything about development desktop applications.

[2021-04-30 09:11] muzammil413tariq commented on #47
@kirillzyusko  here is what I found on the internet is #react-native-tcp I think this can help me but i don't know  how to use it

[2021-04-30 10:00] kirillzyusko commented on #47
@muzammil413tariq you can try. But I don't know how you can establish connection between desktop and mobile. Sorry, I can't really help you...

[2021-08-29 10:01] joy-mollick opened #48 "Not working on my android"
I connected two devices to my home's wifi network but one couldn't find another device through the same network, I tried ACCESS.FINE.LOCATION also as I am using android upper than Android 10. I didn't get any kind of solution. What can be the good npm package to do it well ?? Anyone ,plz  help ?? I want to share data between two android devices suggest me any good npm package

[2021-08-30 21:18] kirillzyusko commented on #48
Do I correctly understand that you are not able even to connect two decices manually? Could you attach adb logs?

[2021-10-05 10:43] Kacper1104 opened #49 "DeviceEventEmitter.removeListener is deprecated"
Hi, you're using a deprecated way of removing event listener. Currently the supported way of unsubscribing the events is to perform remove() function on subscribtion which is returned by addListener() function. Are you planning to improve this part?
![image](https://user-images.githubusercontent.com/37913081/136009378-e7dbaf5b-493e-4a58-977b-3b2afa1400c3.png)

index.js line 27

[2021-10-05 11:11] kirillzyusko commented on #49
Hi @Kacper1104 Yes, I was planning :)

I think it's because of RN 0.65?

How did you plug in TypeScript to this project? I think this package doesn't have `.d.ts` file.

Could you please provide small code example, when you see this warning?

[2021-11-05 20:33] Luanfv opened #50 "transmit an image from a camera"
I'm starting a project in which I need to get the images from a camera via wifi, is it possible to do this through this lib, if so, how?

Thank you for your attention, hug.

[2021-11-06 14:03] kirillzyusko commented on #50
Hi @Luanfv

I think yes, you can transfer any file. If you just need to take a picture (`react-native-camera` will return a path to file, which you can pass in `sendFile` afterwards) and send it to another device, then this is possible. But if you need to send streaming data, then I think that this can be problematic and, most likely, the code of that library will need to be changed.

I hope I ans

[2021-11-06 14:03] #50 closed

[2022-03-03 14:57] Caipe97 opened #51 "Set Group Owner operating frequency band"
I am using this module to write an app that connects many devices to one (the Group Owner).

Tinkering with some test devices, I found that some create a WiFi Direct AP on the 5 GHz band, while others default to 2.4 GHz.

This may result in clients that only use the 2.4GHz band (such as low-end devices) to not find 5GHz WiFi Direct APs.

Is there any way to force a Group Owner to use the 2.4 GHz b

[2022-03-05 10:41] kirillzyusko commented on #51
Hi @Caipe97

I think it's possible, according to the answer from stackoverflow: https://stackoverflow.com/questions/61140789/how-do-i-force-android-wifi-direct-group-owner-to-use-2-4-ghz-instead-of-5-ghz

The problem is that I don't have device with 2.4 Ghz anymore 😔

Just theoretically I could write a code, but I can not test it... If I write a code - could you use a version from github and test

[2022-06-21 18:21] kirillzyusko commented on #8
Hi @JeanLuisJimenez

Could you open a new issue and provide more details? When exactly are you getting null is not an object?

[2022-07-08 10:28] ChandanBeraTechno commented on #32
Hii kirillzyusko,
now i am face in log this kind of error.
 Error while message sending [Error: failed to connect to /192.168.49.1 (port 8988) after 5000ms: isConnected failed: ECONNREFUSED (Connection refused)]

 LOG  You can use the p2p mode
 LOG  startDiscoveringPeers status:  success
 LOG  Running "BobakWifiDDemo" with {"rootTag":1}
 LOG  You can use the p2p mode
 LOG  startDiscoveringPeers st

[2022-07-10 09:09] kirillzyusko commented on #32
Seems like you can not establish a connection within 5s.
Why OnPeersUpdated reports empty array in the end?

[2022-07-25 06:32] hhj0988a opened #52 "Is there a way to get device Address with ipv4 format ?"
Hi I am making project with android tab that will communicate via tcp-socket through wifi-internet.
So I used this module to get all devices list in same wifi-network that I can connect to.
But it returns only mac addresses. Tcp library that i am using allows only ipv4 format address.
Is there any way to get device Address with ipv4 format ?

[2022-07-25 07:29] kirillzyusko commented on #52
Hi @hhj0988a

Can't you retrieve ip address using `react-native-device-info` and send it afterwards to group owner?

[2022-07-25 08:37] hhj0988a commented on #52
Thank you for your fast answer ^^ i'll try right now

[2022-07-27 05:35] ReactCoder12 opened #53 "Example code is not working"
I used Example code but Its not working its not able to show devices and not able to connect with devices
Please help to run this Example I want to send string or file to other device.

Using Example of Usage

[code]

[2022-07-27 06:34] kirillzyusko commented on #53
Hi @ReactCoder12
The issue has a lack of information. First of all could you please give more info about devices you are using (its OS versions etc.)?
And second - did you read https://github.com/kirillzyusko/react-native-wifi-p2p#caveats ?

[2022-07-27 06:43] ReactCoder12 commented on #53
Yes I read this but their little different permission for different android versions Can you Please explain How this App run on All Versions of Android I just need to Communicate android devices

[2022-07-27 06:53] ReactCoder12 commented on #53
Iam Using Android 12.0 Version

[2022-07-27 07:06] kirillzyusko commented on #53
You need to enable GPS and ask additional permission for FINE_LOCATION. I think it should be enough. Also if something doesn't work you can check `logcat` output to understand a reason :)

[2022-07-27 07:11] ReactCoder12 commented on #53
Thank you Now App is running Can you Please explain Little about How to use App means What we need press first create group and then what need to do and also will it need hotspot to make one device as server

[2022-07-27 07:22] ReactCoder12 commented on #53
My Wifi is On But after creating Group in devices Available it gives me Empty array

[2022-07-27 08:02] kirillzyusko commented on #53
For communication you can using steps described here: https://github.com/kirillzyusko/react-native-wifi-p2p#sendmessagemessage

As far as I remember you don't need to configure wifi in any special way. Maybe you will need to connect them first time manually (using wifi direct feature in settings, though honestly I don't remember it, and I bet that it should work using only API from this library wi

[2022-07-27 12:13] ReactCoder12 commented on #53
kirillzyusko I connect two devices with wifi direct then open App its crashing On connect button, send Message Button Why this is Crashing even if make or not make create group request

[2022-07-27 16:49] kirillzyusko commented on #53
Hi @ReactCoder12

Sorry, but I don't understand your problem. You describe it in a very generic way... What I can understand is that something doesn't work as you expect. But such info doesn't contain any information about steps you were trying to perform and logs from logcat. Let's go step by step:

1. Have you tried to connect two devices manually using wifi direct and transfer any information?

[2022-07-27 16:55] kirillzyusko commented on #53
Also you may read old/closed issues. Maybe we already solved this or a similar problem :)

[2022-07-27 17:11] ReactCoder12 commented on #53
Hi kirillzyusko Thank you So mush you help me alot
I have last Question and it Please explain me in Step which step needs to do first
I create wifi direct between two devices Connection Established with wifi Direct.
But On App How to use Your App? which steps need to do first.

[2022-07-27 19:53] kirillzyusko commented on #53
It's written in README:
<img width="833" alt="image" src="https://user-images.githubusercontent.com/22820318/181359782-8b62bc52-a196-43f1-b32b-e059fd48834d.png">

- create group -> `createGroup()` method;
- connect to server -> call `connect` on non-group owner device;

Is there anything that confuses you?

[2022-07-28 04:40] ReactCoder12 commented on #53
Here you mean Server side a one Mobile which create group right?

[2022-07-28 09:13] kirillzyusko commented on #53
Yes, you are right

[2022-07-28 09:16] irfanhaider008 commented on #53
Ok But I create Group after that when other person Press connect App crashed

[2022-10-25 09:31] seba9999 opened #54 "unsubscribeFromPeersUpdates : EventEmitter.removeListener() : Method has been deprecated"
Hi, I'm using this lib (well at least trying to ^^) in a Expo project.

I was wondering if you're planning to change the `removeListener()` Method as adviced :

[code]

It happends only when I try to use `unsubscribeFromPeersUpdates()` on unmount.

I'm using :
[code]

Although I shouldn't post this in a issue ... I was wondering if this lib suit for my case ... I'm trying to create some "LAN netwo

[2022-10-25 10:47] kirillzyusko commented on #54
Hi @seba9999
Yes, I will try to fix it on this week. Most likely it will require to change API of library a little bit, but I will try to fix it and make a new release this week.

[2022-10-25 17:26] seba9999 commented on #54
Thanks a lot !

Could you elaborate on how can I create a broadcast system with your lib please ? :)

If I have 3 devices (A, B and C) and they need to have some up to date datas so as to let's say a group chat.

A send "Hello"
B send "World"
A, B and C should be able to write :
- A : Hello
- B : World

And here is my main question : (the sendMessage Doc)[https://github.com/kirillzyusko/react-nati

[2022-10-26 15:14] kirillzyusko commented on #54
@seba9999 I think I can't help here a lot, because I've never had 3 working Android devices at the same time (so I haven't tested this case). The only thing I can do is to recommend to read official documentation about wifi-p2p connection on Android website :(

Theoretically you need to organize star-topology network, where in the center device will act as a group owner and will broadcast events w

[2022-10-26 15:16] #54 closed

[2022-10-26 15:16] #49 closed

[2022-10-26 15:55] seba9999 commented on #54
I've never tried such a task ... Helping in java to develop an RN lib ...
But why not give it a try ...

Could you address me a starting point ? ... So as how to even build your code ? And how to test it ... Is it even possible using expo ? Or I'll need android studio and some sandbox android app in java ?

I don't even know where to start ^^'

[2022-10-26 16:10] kirillzyusko commented on #54
@seba9999 yes, I'm using Android Studio for package development. I tested implementation using this test app: https://github.com/kirillzyusko/react-native-wifi-p2p-example (but I used symlinking)

So first of all you'll need to clone test app, then clone this repo and then using `symlink` you'll need to substitute a package from `npm` (in `node_modules`) to a locally cloned package. Then open exam

[2022-10-27 09:24] seba9999 opened #56 "Adding something like broadcastTo(message, addresses, promise)"
Hi it's me again !

 I've tried to read your code and I think I understood like 40% ... But I've read carefully the sendMessage workflow and I was wondering if you could create another method (something like broadcastTo) with another parameter : A map of addresses where the message should be sent.

 I would imagine something like this :

 1 - Create another Method : `sendMessageTo(message, address

[2022-10-27 20:39] kirillzyusko commented on #56
Hi @seba9999
I think it's working method 🙂 One thing that I would do potentially differently is an iteration - can we iterate in JS code?

Just theoretically we can slightly change internals of the library and change the signature of `sendMessage`:
[code]

Then I think `broadcastTo` method can be fully implemented on JS side (through `Promise.all` construction). What do you think?

I would love to

[2022-10-28 15:08] seba9999 commented on #56
What do you mean by iterate ? Looping through a list of adresses ? Of course we could do it in JS ! The real question is in which side we want to handle the potentials errors  / non-receive...  And I'm afraid I don't know where's the best place place to do so ( JS / java )

Btw both should work !

I would be very happy to help to test it out ! I've got 3 devices ( thanks family :D ) to test it out

[2022-10-28 16:02] kirillzyusko commented on #56
Yes, I meant this.

Good question :) I think the answer could be discovered only by trial and error 😄

I will try to find a time on this weekend and modify code. But can not assure the code will work 🙈

[2022-11-01 17:14] seba9999 commented on #56
Let me know when there's something to try :)

[2022-11-03 13:33] seba9999 commented on #56
I've found a fork from your project that provide 2 other functions linked to services ...

https://github.com/m3tasploit/react-native-wifi-p2p-reborn

Would you mind having a look at [the changes](https://github.com/kirillzyusko/react-native-wifi-p2p/compare/master...m3tasploit:react-native-wifi-p2p-reborn:master) ? I'm not 100% sur it create some broadcast feature ... the [Android wifip2pManager

[2022-11-04 08:48] kirillzyusko commented on #56
Hi @seba9999

I think `reborn` version adds TS support and a wrapper around `WifiP2pDnsSdServiceInfo` [class](https://developer.android.com/reference/android/net/wifi/p2p/nsd/WifiP2pDnsSdServiceInfo).

I don't have experience with this stuff, to be honest. After a quick search in a google for me it seems like it's needed for device management (like printers) that are connected to the same network

[2022-11-12 15:05] Rishy20 opened #57 "Urgent: Sending File from Server to Client"
Hi, I have created a react native app where initially the server creates a group, and then the client connects to the group. Then the server initiates receiveMessage() and the client sends the name of the files required through sendMessage(). The server should send those files to the client. I tried sending files by calling receiveFiles() in the client and then sendFiles() in the server. In the se

[2022-11-12 15:25] kirillzyusko commented on #57
Hi @Rishy20

If you send a single file from server to client - does it work or not? The reason why I'm asking is to understand whether a problem with sending multiple files or with sending files from server to client.

[2022-11-12 15:36] Rishy20 commented on #57
Hi @kirillzyusko
I tried sending a single file. It didn't work. So I hope the problem is sending from server to client. Is it because when sending from server it doesn't point to client's address?

[2022-11-12 18:14] aminisaeed opened #58 "Could not resolve all files for configuration ':react-native-wifi-p2p:classpath'"
hi
it install without problem
but when i want to run on simulator this error apear:
Could not resolve all files for configuration ':react-native-wifi-p2p:classpath'. > Could not find builder-3.3.0.jar (com.android.tools.build:builder:3.3.0).
Searched in the following locations:
         https://dl.google.com/dl/android/maven2/com/android/tools/build/builder/3.3.0/builder-3.3.0.jar

when i check th

[2022-11-12 18:25] kirillzyusko commented on #58
Hi @aminisaeed
I clicked a little nk and download has begun. Maybe something is wrong with your network configuration and it can not download because the resource is blocked?
Or maybe the page was under temporary maintenance?
What happens if you follow the link?

[2022-11-12 18:27] aminisaeed commented on #58
![image](https://user-images.githubusercontent.com/53213776/201489193-4c6d232e-6cb0-4eb3-a22c-bcc545e5e4d0.png)

 result for me

[2022-11-13 14:46] kirillzyusko commented on #58
@aminisaeed weird, but when I click on it - download begins 🤷‍♂️

<img width="242" alt="image" src="https://user-images.githubusercontent.com/22820318/201527818-ec0e5515-c49d-44a2-841c-f0bd9fc09509.png">

[2022-11-13 14:58] kirillzyusko commented on #57
@Rishy20 well, honestly I haven't tried to send files from server to client. So I assume it may not work.
Unfortunately I don't have two physical devices right now, so I can not verify why it doesn't work :(

[2022-11-14 02:27] aminisaeed commented on #58
The problem was from my VPN
I can download it with chrome but the speed was very slow

Now I have that file (30Mb) and again in the react native run android that error appears, and can't download this file

where should I put that file(builder.3.3.0.jar    30Mb) ? That in the installation react detect it and use it instead of download it?
In which folder???

[2022-11-14 06:53] kirillzyusko commented on #58
@aminisaeed could you try this? https://stackoverflow.com/a/10834567/9272042

[2022-11-15 02:26] aminisaeed commented on #58
The problem solved
The error was from my VPN and connection

[2022-11-15 06:33] kirillzyusko commented on #58
Awesome! I'm closing the issue.

[2022-11-15 06:33] #58 closed